[2015-11-15 22:32] QuickBrownFoxy opened #5 "Lower SDK version to 10?"
I am using LiveSDK for Android at the moment and I'd like to move on to OneDrive SDK but it has minimum SDK 15, all my apps are minimum SDK 10. Are there any plans to lower the SDK version? At least to 10?

[2015-11-16 18:24] peternied commented on #5
The core SDK does not have any requirements that prevent it from functioning on SDK 10, however the default authentication provides that this library depends on have min versions set at 14.
- I've already opened a pull request on the MSA Library https://github.com/MSOpenTech/msa-auth-for-android/pull/23 to lower the version number.
- It doesn't appear that the ADAL library I use had a hard require

[2015-11-17 22:46] NLLAPPS opened #7 "Documentation example doesn't work"
I am trying to implement OneDrive Android SDK, so I've created a sample app, and added Auth section of your quick start guide then called

[code]

It does not invoke OAuth, silently fails and writes exception below

[code]

So I have tried the following

[code]

Finally I have tried this

[code]

which  although exception below was logged; it was able to invoke login window. Unfortunately login wi

[2015-11-17 23:28] peternied opened #8 "Expected exception from the silent authenication should be clearer in the logs"
[code]

This should be clear that it was expected when there has not been a user logged in previously.

[2015-11-17 23:30] peternied opened #9 "Login disambiguation page is not rendering properly"
The disambiguation page for login is not rendering correctly on all devices: ![Example Image](https://cloud.githubusercontent.com/assets/14060247/11227442/e3fb27ca-8d7d-11e5-9517-c061cccaf606.png)

[2015-11-17 23:31] peternied commented on #7
Sorry you are having trouble getting started, there is a fully functional example https://github.com/OneDrive/onedrive-explorer-android .

You can see how it creates its OneDriveClient, within its [BaseApplication.java@160](https://github.com/OneDrive/onedrive-explorer-android/blob/master/app/src/main/java/com/microsoft/onedrive/apiexplorer/BaseApplication.java#L160).

Keep reusing this thread if

[2015-11-18 09:10] NLLAPPS commented on #7
Thanks very much.

Do you thing is there an issue with strong reference to Activity? I can see that requirement for Actvity reference comes form msa-auth-for-android.

It looks like you always have to pass an Activity to get the client. Is there any examples with just the Context? How would an Android Service initiate/create OneDriveClient?

In my usage case OneDrive client always used form a serv

[2015-11-18 18:40] peternied opened #10 "Support Upload an Item from a Url"
Support https://dev.onedrive.com/items/upload_url.htm in the SDK

[2015-11-20 19:15] smorloc commented on #7
@NLLAPPS, I am having the same problem with the onedrive-explorer-android application.  I've just created an issue in that project.

[2015-11-21 01:05] peternied commented on #7
With the current design an activity is necessary to display the interactive login window.  You could create a broker authenticator that you'd use in your application communicate with the service independent of an activity.

[2015-11-25 22:10] peternied commented on #9
We have a fix for this issue, and will reply over after break when it has been resolved.

[2015-11-26 00:55] #8 closed, assigned to peternied

[2015-11-30 13:46] isabsent opened #12 "Distribute as onedrive-sdk-android.jar"
Your library does not contain resources. Therefore it may be distributed as simple jar archive. It would be useful for those who do not use Gradle or Maven.

[2015-12-01 15:49] isabsent opened #13 "Question on Upload."
As we can see in [Upload example](https://github.com/OneDrive/onedrive-sdk-android/blob/26f0db85d799f5477fbe902bc8c1f2e706e314de/docs/items.md#upload-a-file) it is necessary to have file as byte array for uploading, that is a problem for big file. It would be nice to add upload capabilitiy from InputStream in this SDK:

[code]

[2015-12-01 17:02] peternied commented on #13
That is a great ask, I've been working on a wrapper for using the chunked upload APIs, which I believe to be the more durable path for larger uploads.  When that features has a pull request out I'll make sure to include you for comments/feedback.

[2015-12-01 17:06] peternied commented on #7
@NLLAPPS @smorloc With the recent fixes associated with authentication I'm going to close out this issue.  If you are still seeing trouble with a specific area please open a new issue to track that request or question.  Thanks!

[2015-12-01 17:06] #7 closed, assigned to peternied

[2015-12-01 18:46] isabsent commented on #13
Thanks!

There is one more question about **synchronous** upload call. As I understand, the synchronous upload call looks like:

[code]

If it is, I can't find the way to set ProgressListener to get an upload progress as it was possible in your package com.microsoft.onedriveaccess  (before onedrive-sdk-android release). Are you going to provide opportunity for setting of ProgressListener in the sy

[2015-12-01 19:55] isabsent opened #14 "Parcelable interface for SDK entities."
It is often necessary to transfer entities like an Item between activities or services. Therefore those entities should implement Parcelable interface. Is it possible to make it parcelable right in SDK?

[2015-12-01 21:21] peternied commented on #9
This has been fixed!

[2015-12-01 21:21] #9 closed, assigned to peternied

[2015-12-01 21:59] peternied commented on #13
I don't have plans to include progress callbacks for synchronous methods, if you wanted to perform this action in a synchronous-ish way with a IProgressCallback you could do the following at your own risk:

[code]

Note: this is the method to how some of the async methods our dependent libraries were [unwound](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/c

[2015-12-01 22:05] peternied commented on #12
This SDK depends on getting permissions to account management, and if this package was distributed via jar these [manifest requirements](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/AndroidManifest.xml) would not be exposed.

Is this a hard requirement for how you consume dependencies?

[2015-12-02 04:15] isabsent commented on #12
You are right about Manifest, but for example Google distributes their Drive access [libraries](https://github.com/google/google-api-java-client-samples/tree/master/cloudnotes-preview-android-sample/libs) as jar-files ([example](https://github.com/google/google-api-java-client-samples/tree/master/cloudnotes-preview-android-sample)) with the same [manifest requirements](https://github.com/google/go

[2015-12-02 05:08] isabsent opened #15 "java.lang.NoClassDefFoundError: org.jacoco.agent.rt.internal"
When trying to create new Item:

[code]

I have immediately got an exception:

[code]

I have never used org.jacoco.agent.rt.internal and was not able to find any references of this package in your [example](https://github.com/OneDrive/onedrive-explorer-android). Who is **jacocoInit** and what is a reason of this strange exception?

[2015-12-02 05:29] peternied commented on #15
I would associate `org.jacoco` with the code coverage tooling from Androids build support libraries.  Do you have a gist of the gradle output?

[2015-12-02 05:40] isabsent commented on #15
I am using Intellij IDEA with gradle

[code]

What should I do to get a gist of the gradle output?

[2015-12-02 05:56] peternied commented on #15
@isabsent I just meant to capture the complete build output into a file and paste it into https://gist.github.com/

And I haven't tried using the build tools 1.5.0, I'm using 1.3.0 currently (not that it shouldn't be forward compatible...)

[2015-12-02 06:03] isabsent commented on #15
Sorry, it was my fault. Instead of using

[code]

I have abused your SDK by means of extracting jar-file from it and have attached the jar to my project as a:

[code]

[2015-12-02 06:06] peternied commented on #15
Does that mean that using a jar runs into other dependency issues?

[2015-12-02 06:11] isabsent commented on #15
No. I suppose that my way to get jar from aar is some kind of "hack" and leads to this problem.

[2015-12-02 06:14] peternied commented on #15
You might be hitting this because you used a debug assembly, you try a retail version, it might work better, however I think you'll have the easiest ride with Gradle/Maven.

[2015-12-02 06:14] #15 closed, assigned to nobody

[2015-12-02 06:26] peternied commented on #12
Those libraries pre-date the official usage of gradle tools for scenarios like manifest merging. Making a (more) error prone jar available is just inviting a bad experience using the OneDrive SDK for Android.

I'm going to close out this issue for now, I'm happy to have more of a dialog if there are scenarios that I'm missing.

[2015-12-02 06:26] #12 closed, assigned to nobody

[2015-12-02 10:06] isabsent opened #16 "Unknown method 'PATCH'"
I have included onedrive-sdk-android **as a sourse code** in my project (minSdkVersion 15) and have got an exception when trying to rename file on the cloud on Android device with API level 16:

[code]

The same exception arises when I install [onedrive-explorer-android](https://github.com/OneDrive/onedrive-explorer-android)  on Android device with API level 16 (changing minSdkVersion to 15) and d

[2015-12-02 14:32] isabsent opened #17 "Range request support."
Does current SDK support a **HTTP Range request**? This feature is necessary for applications using encrypted containers on a cloud. User doesn't need to download whole file (which may be huge), he need just a byte range [position, position + length - 1] to decrypt it with some key.

I didn't find how to specify such byte range in current SDK. A simplest way to give us range request support is to

[2015-12-02 17:52] peternied commented on #17
When building requests optional options can be passed into the IRequestBuilder's build(...) method to add additional headers or parameters to a request, here is a quick example of how perform add range request header on a file download:

[code]

I'll update the documentation to include this feature. Thanks!

[2015-12-03 07:02] isabsent commented on #13
Thanks for clarification.

[2015-12-04 01:17] #13 closed, assigned to nobody

[2015-12-04 01:17] isabsent opened #18 "Cancel uploading on user request."
Do we have opportunity to cancel uploading on user request in the SDK?

[2015-12-04 02:53] isabsent commented on #17
Thanks, it works.

[2015-12-04 02:53] #17 closed, assigned to nobody

[2015-12-04 18:40] isabsent opened #20 "OneDrive Business access."
Does it possible to view files on OneDrive Business cloud with your [onedrive-explorer-android](https://github.com/OneDrive/onedrive-explorer-android/tree/master/app/src/main/java/com/microsoft/onedrive/apiexplorer)? I have changed

[code]

to

[code]

in BaseApplication class and have got this exception when trying to view root of the cloud:

[code]

I have [Azure Active Directory Premium free fo

[2015-12-04 18:55] peternied commented on #20
RE: The bearer token, this is by design because I don't want developers to accidentally expose a valid bearer token when posting service errors.  You can uncomment it for development purposes; I typically stick a break point on `getAccessToken()`.

[2015-12-04 19:00] sw-dev1 opened #21 "Getting a tree of all items under an item"
What is the best practice of getting the full tree of items below an item?

The documentation says  "By using these request builders you can retrieve all of the items under a collection no matter the size." But how exactly should this be done? The example is incomplete in the call to .get() within success().

Is there an example of a sequence of requests? What should be used to wait until the resu

[2015-12-04 19:11] peternied commented on #20
To your question, Yes it does support being switched to the an AdalAuthenticator or to use a MSA and ADAL authenticator together.  Based on the unauthorized error, it sounds like your application might not have the scopes granted for the `files` api, see this for details on configuring your application in azure https://dev.onedrive.com/app-registration.htm#register-your-app-for-onedrive-for-busine

[2015-12-04 19:23] isabsent commented on #20
Do you mean

[code]

?
I have thought it is configured in mobile app code (as it is for simple OneDrive). Should I go to Azure AD and grant this scope from there?

[2015-12-04 19:23] peternied commented on #21
The best way to get the full hierarchy of items within a OneDrive is to use the [Sync Changes API](https://dev.onedrive.com/items/view_delta.htm), this can be done with an `IDeltaRequest`.  To see a full example of how to retrieve a delta collection and make requests to get all pages see the OneDrive Explorer for Android's [DeltaFragment](https://github.com/OneDrive/onedrive-explorer-android/blob/

[2015-12-04 19:30] peternied commented on #20
Yup

[2015-12-04 19:36] isabsent commented on #20
Did you mean this settings:

[code]

?
I have set 8 checkboxes without any result.

[2015-12-04 19:51] peternied commented on #20
You'll need to configure specifically Office 365 SharePoint Online to have read/write permissions to files
![image](https://cloud.githubusercontent.com/assets/2754967/11599732/522b1bae-9a7d-11e5-93b6-faf3f3ee6ae2.png)

[2015-12-04 19:56] isabsent commented on #20
It works! Thanks a lot. It was very tricky...

[2015-12-04 19:56] #20 closed, assigned to nobody

[2015-12-05 15:52] isabsent opened #23 "Update method problem for OneDrive Business."
I am using this code

[code]

for **renaming** a file in the same folder (name is changed, parentId isn't changed) or for **moving** it from one cloud folder to another cloud folder (name isn't changed, parentId is changed). I have implemented this [X-HTTP-Method-Override workaround](https://github.com/OneDrive/onedrive-sdk-android/issues/16) to get it working on a device with API level 16. It wor

[2015-12-07 11:24] sw-dev1 commented on #21
Thanks! Unfortunately the sample app crashes on my Windows emulator with a hierarchy of 50-60 items.

Tracking the response down in the sample code leads to mPageContents in BaseCollectionPage. The interface IBaseCollectionPage, which BaseCollectionPage implements, involves - indirectly - a JsonObject, which in turn maintains a LinkedTreeMap of its children. Is it correct that mPageContents is a f

[2015-12-07 17:28] peternied commented on #21
@sw-dev1 Could you create a [new issue](https://github.com/OneDrive/onedrive-explorer-android) a gist of the app crashing along with the devices logcat on the sample application?

Yes, mPageContents list representation of the item tree element in the json response, which is fully described [here](https://dev.onedrive.com/items/list.htm).

[2015-12-07 17:31] peternied commented on #23
This is the reason that I have not fixed bug #16 with the HTTP override yet, I'm still working on getting that scenario resolved for ODB

[2015-12-08 15:31] sw-dev1 commented on #21
Thanks again for the clarification.

The crash happens when testing against a live account, which would contain personal data in the logcat. I tried to reproduce the behavior with a test account having fewer items. The app does not crash but the emulator screen freezes and scrolling is not possible. Back button works though. Would you like me to create an issue with this?

[2015-12-08 16:53] peternied commented on #21
@sw-dev1 Without a log of what is happening on the device during the crash I won't be able to address this issue.  If you can a log and you can share it to me privately or if there is an exception stack trace then I can work this issue.

[2015-12-09 17:57] ishroid opened #24 "Slower then previous one that was with Retrofit + Okhttp"
I am using onedrive sdk from last 4 years, I used all updated version, But i found this version very slow after expanding thumbnails.

A previous version of SDK that was released for a while used Retrofit + OkHttp , I downloaded it and used it ,that was faster then this version and first one.

I think serializing and de-serializing of json object and unnecessary huge response taking time.

Make Ne

[2015-12-09 22:02] peternied commented on #24
Thanks for reporting @ishratkhan

I would not expect you to see any decreases in performance using this SDK.  In fact if you've been using the LiveSDK with LiveConnect API this SDK should be considerable faster as the service is optimized for speed.  Can you give me an idea specific scenario and the differences in speed so I can look into it? eg GET v5.0/me/files of an account with 150 files, with

[2015-12-10 08:39] ishroid commented on #24
Thanks for suggestion @peternied

I think Sync Changes is the best way that i really needed i didn't know about it, thanks for sharing information about it,

using your suggestion my app  going to be faster then ever.

I will update you about the scenario,

Thank you very much

[2015-12-10 08:39] #24 closed, assigned to nobody

[2015-12-10 21:14] sw-dev1 commented on #21
I could recreate the crash with the first account and then extracted the necessary (in my view) part of the logcat that does not contain personal data. As requested, I have then created an issue for [onedrive-explorer-android](https://github.com/OneDrive/onedrive-explorer-android):  [App crash on windows emulator at view.delta with large hierarchy](https://github.com/OneDrive/onedrive-explorer-and

[2015-12-10 22:53] peternied commented on #21
I'm going to close out this issue, as it is a bug in the sample application not this SDK, thanks for filing!

[2015-12-10 22:53] #21 closed, assigned to nobody

[2015-12-13 01:38] #16 closed, assigned to nobody

[2015-12-13 01:38] #23 closed, assigned to nobody

[2016-01-01 16:34] ishroid opened #26 "Not Getting login Callback"
I am not getting proper callback from onedriveclient, i have to restart app to get logged in.

i am using

com.onedrive.sdk:onedrive-sdk-android:1.0.0

new OneDriveClient
                .Builder()
                .fromConfig(createConfig())
                .loginAndBuildClient(activity, callback);

[2016-01-02 08:18] peternied commented on #26
Could you include the logcat output when you start to login and it seems not to finish logging in?

[2016-01-02 18:33] ishroid commented on #26
I was using

com.onedrive.sdk:onedrive-sdk-android:1.0.0,

after updating it to 1.0.2 , i am able to get login callback properly,

Thank you

[2016-01-02 18:33] #26 closed, assigned to nobody

[2016-01-04 17:58] peternied commented on #26
@ishratkhan Glad to hear this was resolved!

[2016-01-05 08:52] sw1ftc0d3r opened #28 "Download progress and create folder"
Hi,
I want to know how to get the progress of download and create an empty folder.
It's possible?
Thanks in advance!

[2016-01-05 18:54] daboxu commented on #28
Hi Andrea,

For creating an empty folder, you can follow the instruction at the last part in this [doc](https://github.com/OneDrive/onedrive-sdk-android/blob/master/docs/collections.md#create-a-folder) about creating an empty folder.

For showing download progress, there are two ways but  I am not sure which one could meet your needs:
    1. In the [example app](https://github.com/OneDrive/onedriv

[2016-01-21 17:49] peternied commented on #28
Sounds like this should be resolved, closing out this old issue.

[2016-01-21 17:49] #28 closed, assigned to daboxu

[2016-01-26 18:03] peternied opened #30 "Inconstant use of HTTP Verbs"
There are references to Update and Create, which should actually be PATCH and POST.  Update the generated templates to have new patch and post functions and  then modify the update/create functions to be `@deprecated` along with referencing the new patch/post versions.

Example: see https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/com/onedrive/sdk/generated/Ba

[2016-01-26 23:59] phileo opened #31 "WebView SSL vulnerability"
https://github.com/liveservices/LiveSDK-for-Android/issues/63

Has the Live SDK issue been addressed in this project as well?

[2016-01-27 00:49] peternied commented on #31
This project doesn't not include that terrible SSL hack.  This library is vastly more security compliant and uses the HTTP libraries as per the latest guidance from the Android documentation.

[2016-01-27 01:08] sw-dev1 commented on #7
@peternied Could you elaborate on the idea of a "broker authenticator"? Is it possible to keep a persistent OneDriveClient object for use in an android service? Where should this object live between the service runs? Thanks.

[2016-01-27 01:56] peternied commented on #7
With the [IAuthenicator](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/com/onedrive/sdk/authentication/IAuthenticator.java) interface the contract is that the implementation just return a [IAccountInfo](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/com/onedrive/sdk/authentication/IAccountInfo.java) object.  Inside of

[2016-01-28 22:52] phileo opened #32 "Expand Children and thumbnails with new API?"
# In the old API, I used the following QueryOptions request to retrieve expanded collection of children with medium res thumbnails:

`children(expand=thumbnails(select=medium)),thumbnails(select=medium)`

How would I achieve the equivalent result in the new API?

`oneDriveClient
    .getDrive()
    .getRoot()
    .buildRequest()
    .expand(???)
    .get(callback);`

[2016-01-28 23:02] peternied commented on #32
For a specific item you'd want a expand statement like "thumbnails(select=medium)", he is how it could look from your example.

[code]

I noticed that your first referenced example used a children expansion as well, you can do that with this API too, it would look like this:

[code]

For reference, the OneDrive Explorer for Android uses nearly this behavoir, see its usage within its main [item fra

[2016-01-28 23:06] phileo commented on #32
Thanks for the prompt response!  I will try that out.

[2016-01-29 00:12] phileo opened #33 "content_downloadUrl?"
reference:
https://dev.onedrive.com/resources/item.htm
In the old API, each Item contained a downloadable url, namely `item.content_downloadUrl` that gave me access to "@content.downloadUrl" property of an Item
Where can I get access to this in new API ?

[2016-01-29 00:14] peternied commented on #33
You can get it by peeking into the raw object, `item.getRawObject().get("@content.downloadUrl").getAsString()`, see how we just plug it into the [download manager](https://github.com/OneDrive/onedrive-explorer-android/blob/master/app/src/main/java/com/microsoft/onedrive/apiexplorer/ItemFragment.java#L844) in the example app.

[2016-01-29 00:17] peternied commented on #33
Note: if you do `OneDriveClient.getDrive().getItems(itemId).getContent().get()` it will return an `InputStream` to the file contents, [read more here](https://github.com/OneDrive/onedrive-sdk-android/blob/master/docs/items.md#download-a-file).

[2016-01-29 20:32] phileo opened #34 "Facets not available in response"
# When I make the following request:

[code]

I cannot find in the `IItemCollectionPage.getCurrentPage()` the various Facets properties like item.folder , item.file , item.image, ie. they are all null.

Is this by design, or is there a way to retrieve file/folder/image facets for an Item?

[2016-01-29 21:41] phileo commented on #34
Ok, figured out the answer:

`oneDriveClient.getDrive() .getItems(itemId) .getChildren() .buildRequest() .select("id,createdDateTime,image,folder,file,name,size,@content.downloadUrl") .expand("thumbnails") .get(callback)`

[2016-01-29 21:46] peternied commented on #34
Yup, that would be a way to get only the facets your application is interested in

[2016-02-01 18:05] sw1ftc0d3r opened #35 "Get Profile Information"
Hi!
I want gt Profile information like email, id, ecc.
It's possible?
Thanks in advance

[2016-02-01 18:11] peternied commented on #35
OneDrive does not have an API that provides this information, but we are tracking this kind of request on [UserVoice](https://onedrive.uservoice.com/forums/262982-onedrive/suggestions/7475062-support-retrieving-user-profile-information-via-ap),  every vote counts.

[2016-02-02 13:23] ThomasSHA opened #36 ""Unable to disambiguate account type" when using an OneDriveBusiness Account"
Hi,
I got a small problem with logging in with an OneDrive Business Account.
- After enter the (business) credentials in the WebView everything works fine.
- Afterwards I close my app (swiping from the task switcher)
- Next time I try to login the Login-WebView pops up again.

Silent login seems to fail because the SDK wasn't able to disambiguate account type...

Did I miss something?

`Disambigua

[2016-02-02 21:48] peternied commented on #36
Thanks for filing this issue, it looks like there has been a change AAD authentication flow that tampered with this flow.  I'm investigating

[2016-02-03 00:48] #36 closed, assigned to peternied

[2016-02-03 01:40] peternied commented on #36
@ThomasSHA Please let me know if the problem persists with the 1.1.1 release of the SDK

[2016-02-03 07:06] ThomasSHA commented on #36
@peternied The problem is still there.
`E/MSAAuthenticator$5[onAuthComplete] - 260: Failed silent login, interactive login required
                                            com.onedrive.sdk.authentication.ClientAuthenticatorException: Failed silent login, interactive login required
                                                at com.onedrive.sdk.authentication.MSAAuthenticator$5.onAuthComple

[2016-02-03 07:15] ThomasSHA opened #38 ""Copy File" crashes App if file already exists in destination folder"
Hi
I found another little bug.
When I try to copy a file to a subfolder in which a file with the same name already exists the whole app crashes. I tried to catch the exception, but I had no luck with that approach...

`02-03 08:11:12.194 9118-9370/com.microsoft.onedrive.onedriveapiexplorer E/AndroidRuntime: FATAL EXCEPTION: pool-1-thread-1

[2016-02-03 07:55] peternied commented on #36
Hmm, looking at your logs I see the this error:
`DEVELOPER_BROKER_PERMISSIONS_MISSING[...]-Broker related permissions are missing for GET_ACCOUNTS, MANAGE_ACCOUNTS, USE_CREDENTIALS`

I think you could get it working if you added the following to your application manifest:

[code]

I'll grant you this is not ideal, as if you use the ADALAuthenticator it should just warn you more pro-actively with c

[2016-02-03 08:00] peternied opened #39 "ADALAuthenticator should warn developers if required permissions are not present"
It is possible to have the ADAL library misconfigured which prevents the token broker from working under some circumstances.  ADAL logs an error, but it could be missed, this seems like a clear scenario improvement for consumers of this SDK by throwing an exception to be 'self-documenting'.

Update [ADALAuthenticator.init(..)](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesd

[2016-02-03 10:03] ThomasSHA commented on #36
I already had GET_ACCOUNTS and USE_CREDENTIALS and now I added MANAGE_ACCOUNTS.

But that doesn't help. `DEVELOPER_BROKER_PERMISSIONS_MISSING` is gone, but the result is still the same.

[2016-02-03 15:06] sw-dev1 commented on #21
@peternied Thanks for your help so far.
Next challenge is to use the collected list of items from the delta pages. It seems that the SDK design imposes that the complete logic for manipulating the result of all requests needs to be in the success method of the callback. In this case however, due to the recursive calls of the request from within success, this would make the success method very comp

[2016-02-03 15:13] sw-dev1 commented on #21
@peternied Thanks for your help.
 Next challenge is to use the collected list of items from the delta pages. It seems that the SDK design imposes that the complete logic for manipulating the result of all requests needs to be in the success method of the callback. In this case however, due to the recursive calls of the request from within success, this would make the success method very complex an

[2016-02-03 17:35] peternied commented on #21
Well you could use a `SimpleWaiter` to wait for a response without any pages and then trigger another flow that uses that information, or you could use a second layer of callbacks that aggregated list of page contents.  I'm thinking that second method would work a little better for this purposes.

You could also look to add an extension within [DeltaRequest](https://github.com/OneDrive/onedrive-sd

[2016-02-03 17:46] peternied commented on #36
Have you fully logged via ADAL library after getting the 1.1.1 fix?  The nature of fix was to make sure recording of the refresh token was done against the proper endpoint, without a fresh login attempt completing that information will not be available for silent auth to work as intended.

I also noticed in your logs, I would expect to see a stating `Starting login silent` link from the `ADALAuthe

[2016-02-03 19:17] phileo opened #41 "OneDrive Authentication Cancellation issue"
After logging in with username / password, If I press no during the authentication page that asks for permissions, I get:

ClientException.mErrorCode = "AuthenticationFailure"
ClientException.cause = "com.microsoft.services.msa.LiveAuthException: The user has denied access to the scope requested by the client application."

If I press "back" while on that permissions page, I get:
ClientException.m

[2016-02-03 20:44] sw-dev1 commented on #21
Thank you. I'll try this out.

[2016-02-03 20:55] #38 closed, assigned to nobody

[2016-02-03 21:28] sw-dev1 opened #42 "parentReference.path is null for all items in a delta response"
The items in the getDelta() response have null as their parentReference.path whereas the same items when retrieved with getItems() have the correct path. The expansion options are the same for both requests.

What is the proper way of getting the full parentReference object in the getDelta() response?

[2016-02-03 22:01] peternied commented on #42
The proper way is to use `parentReference.id` in place of the item path.  'Random path' composition is expensive for the OneDrive service to look up, if you have an id the service will always provider a faster response since the translation layer is not needed.

[2016-02-03 22:26] sw-dev1 opened #43 "Error: serviceNotAvailable"
Reporting as requested in logCat
Gist: https://gist.github.com/sw-dev1/17cc411a3c435c67ca4a

[2016-02-03 22:36] peternied commented on #43
Thanks for the report, this looks like intermittent network failure.  I'll tweak the report criteria on those messages since it could be related to any part of the network stack.

[2016-02-03 22:43] sw-dev1 commented on #42
Thanks for the prompt response.
I am aware of the importance of using the id. I store the OD id locally and work only with it as a rule. However in the first pass the local items do not have the server id yet. The most straightforward way then seems to be to compare by name and parent path. If the pair matches, the server id is set locally for later use.
Is there another way of getting the full pa

[2016-02-03 22:52] peternied commented on #42
When you upload the item via the OneDrive API you get an id back for the item, I would be hard pressed to come up with a reliable way to match up the local items and the remote items if you use another process.

For the Delta API returning parent paths is blocked because of the high call volume and response performance requirements.

[2016-02-03 23:24] sw-dev1 commented on #42
Thanks. I understand the constraint of the delta. Will look for another way of solving the problem.

[2016-02-04 00:07] peternied commented on #41
That message comes from the OAuth service and not from the client, so we risk the message changing on us if we depend on the string.

[2016-02-04 00:07] #41 closed, assigned to nobody

[2016-02-04 00:26] peternied commented on #31
Let me know if this issue is not resolved, closing this out

[2016-02-04 00:26] #31 closed, assigned to peternied

[2016-02-04 07:29] ThomasSHA commented on #36
Sorry didn't set the log level...

Here is what happens if I logged in with an Business Account, then killed the app and started again (tested with the onedrive-explorer project, where i added a adalAuthenticator and updated the sdk to 1.1.1)

`
02-04 08:22:56.171 13436-13514/com.microsoft.onedrive.onedriveapiexplorer D/DisambiguationAuthenticator[loginSilent] - 243: Starting login silent
02-04 08

[2016-02-04 07:47] ThomasSHA opened #47 "Just try to login silent, without Login Dialog poping up if it didn't work?"
What I want to achieve:
When my App is opened I want to try a silent login. If that works, I can update stuff like free space etc..
BUT If it doesn't work, I want the SDK to do nothing (until the user explicitly wants to connect to onedrive).

Till now I haven't found a nice solution. `loginAndBuildClient` pops up the Login Dialog if silent login fails.

What I did till now: I've overwritten the `

[2016-02-04 17:29] peternied commented on #47
I would suggest that you create a new [`IAuthenticator`](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/com/onedrive/sdk/authentication/IAuthenticator.java) that returns null when login(...) is called, instead of prompting the user for and UI.

Here is an example that should work for MSA accounts, and modifying ADAL or the Disambiguation authenticators shoul

[2016-02-04 17:50] #43 closed, assigned to nobody

[2016-02-05 10:07] ThomasSHA commented on #47
thx. this works too :)

[2016-02-05 10:07] #47 closed, assigned to nobody

[2016-02-05 17:09] #39 closed, assigned to nobody

[2016-02-05 21:55] peternied commented on #36
In order to get this issue resolved, file a [github issue](https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/new) inside the [ADAL library](https://github.com/AzureAD/azure-activedirectory-library-for-android), and make sure to include your correlation id, 6ce6b305-b4b9-4d1c-b27f-5ef2b4a66773 as it will help the AAD team figure out what is going wrong.

[2016-02-05 21:56] peternied commented on #34
Please reopen if you are still having issues, thanks!

[2016-02-05 21:56] #34 closed, assigned to nobody

[2016-02-05 21:56] peternied commented on #32
Please reopen if you are still having issues, thanks!

[2016-02-05 21:56] #32 closed, assigned to nobody

[2016-02-05 21:56] peternied commented on #33
Please reopen if you are still having issues, thanks!

[2016-02-05 21:56] #33 closed, assigned to nobody

[2016-02-09 19:55] 1gravity opened #48 "java.lang.NullPointerException: Attempt to invoke virtual method 'com.onedrive.sdk.authentication.AccountType"
When using both MSAAuthenticator and ADALAuthenticator an account needs to be entered first. If the user leaves without entering an account (e.g. press back), the OneDriveClient crashes:

[code]

Since this is an asynchronous call, this can't be caught and will crash the app. I guess this would also happen if the user has more than one regular OneDrive account (not OneDrive Business).

If others h

[2016-02-09 20:00] 1gravity opened #49 "Silent Login"
There's currently no way to silently login.
Assuming the user has previously signed in but revoked the access to OneDrive, there should be a way for an app to control when the authentication workflow starts. As it stands the loginAndBuildClient always tries to invoke the login screen but an app/user should not be forced to login, the control over when the login happens should remain with the app.

[2016-02-09 20:09] peternied commented on #49
This is a good callout, thanks!

[2016-02-09 23:10] 1gravity opened #50 "Azure Active Directory permissions"
I've read through pages and pages of documentation but there's no concrete answer to the question what permissions an application for OneDrive for business needs in the active directory (ADAL).

This [https://dev.onedrive.com/app-registration.htm](https://dev.onedrive.com/app-registration.htm) simply states:

Scopes don't match the permissions in the Azure AD at all, they seem to be a concept for

[2016-02-09 23:40] #48 closed, assigned to daboxu

[2016-02-11 08:42] hschottm commented on #50
The SDK documentation is quite a mess. What I found out experimenting with it was that I need the following "permissions to other applications" for my native Azure AD app:

**Windows Azure Active Directory** (which is available by default)
- Read and write directory data
- Access the directory as the signed-in user
- Sign in and read user profile

(I enabled the above 3 Delegated Permissions)

Add

[2016-02-11 14:21] 1gravity commented on #50
Thank you for your answer. I'm currently testing with these permissions. At least the authentication went through. I do have the Office 365 Sharepoint Online permission in my developer account so I'll stick with this one at the moment.

The whole Office 365 subscription model is a mess imo and that is reflected in the fact that I basically have to do double work to integrate OneDrive (regular OneD

[2016-02-11 14:59] hschottm commented on #50
@1gravity:  you are so right, the process with OneDrive for Business is a complete mess. I am currently trying to get a Microsoft Official to tell me which subscription I actually need and why this is necessary. I guess you are having the same reason like I do, providing OneDrive for Business access for your customers but you do not want to use it by yourself or for your company and I guess this i

[2016-02-11 15:11] 1gravity commented on #50
I can feel your pain...
Even from a regular user perspective it's a pain in the a... I only have an Office 365 Home subscription and wanted to get Visio but that subscription doesn't allow me to have Visio, I'd have to convert to a business subscription. I then chatted with them about 1/2 hours to figure out how to convert and after that 1/2 hours they gave me a phone number to call. I then decide

[2016-02-11 15:44] hschottm commented on #50
@1gravity There have been so many issues with all these subscriptions, I wouldn't wonder when I had the wrong values in my browser cache or whatever. The initial subscription didn't work, there was an error, then I found it somewhere in the Administration settings and activated it, maybe that was the problem. I can't say that the whole Office 365 / Azure stuff is working smoothly, that's what I ex

[2016-02-18 23:01] #30 closed, assigned to daboxu

[2016-02-20 18:18] sw-dev1 opened #53 "OneDrive Service exception Error code: Unable to parse error response message"
The error is persistent for a certain file when trying to upload. Two problems with this:
1) is the request faulty and if yes, where? Why is the response also faulty?
2) although the request is made from a try block, the ClientException is not caught in the catch block.
Logcat: https://gist.github.com/sw-dev1/73131f9e7c6bbfb15862

[2016-02-23 10:26] isabsent opened #54 "Strange difference between SDK and code integration"
I have faced with strange difference in the behavior of the same project trying to connect to OneDrive (not a Business) in two cases:
1. onedrive-sdk-android 1.1.3 is used as dependency [LearnAndroid_Async.zip](https://github.com/OneDrive/onedrive-explorer-android/files/142184/LearnAndroid_Async.zip)
2. source code of onedrive-sdk-android (current master version on Github) is integrated to the pro

[2016-02-24 08:32] ThomasSHA commented on #36
Still no solution :(
But there seem to be some problems with the refresh token:
https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/490#issuecomment-185166965

[2016-02-24 14:48] ThomasSHA commented on #36
Hi @peternied
I just tried a new minimalistic test app and did a few tests.
I always did the same things:
- logged in with business account
- killed app
- started app again
- again tried to login

With only the ADALAuthenticator added, everything works as excepted (from a users view).
Logoutput:

[code]

With both Authenticators added, the disambiguation ui pops up again.

[code]

Looking at the l

[2016-02-24 18:29] peternied commented on #36
Could you provide a logcat of the ADALAuthenicator for this scenario `BUT with ADAL-only, the "interactive login" works afterwards (without interaction actually...)`?

Based on what you are describing, it sounds like the 'silent' authentication process is failing due to some reason (which I suspect will happen in both cases), and then the interactive login is able to make a service call and refres

[2016-02-25 06:55] ThomasSHA commented on #36
This would be ADALAuthenticator only ( LoggingLevel is Debug)

[code]

[2016-02-25 21:27] peternied commented on #36
Thanks @ThomasSHA that confirms my suspicions, I'll look at how we can address getting a fix for the broken user experience.

[2016-02-26 06:46] ThomasSHA commented on #36
ADAL guys also found (or at least think they have) a bug: https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/490#issuecomment-188701184

[2016-02-26 22:04] eicm opened #55 "Replacing Okhttp with Volley"
Is it possible to replace okHttp library with Volley inside the SDK?

[2016-02-26 23:41] peternied commented on #55
Yes, the majors pieces of the SDK are built along interfaces that are [wholly replaceable](https://github.com/OneDrive/onedrive-sdk-android/blob/master/docs/extensibility.md#major-dependencies).  If you would like to use an different http provider, you just need a new [`IHttpProvider`](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/com/onedrive/sdk/http/IHtt

[2016-03-07 21:04] amitav13 commented on #15
@isabsent (and others who might run into this) This error was resolved for me on a different project by specifying testCoverageEnabled = true in gradle. Since this is false by default, it causes apps to bonk.

[2016-03-11 17:08] cpore commented on #49
I'd like to second this enhancement. OneDriveClient and its builder need to be decoupled from an Activity. My team needs to use the client in a service. This is a blocking issue for us. Any suggested work around?

[2016-03-11 17:12] peternied commented on #49
The [`IAuthenticator`](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/com/onedrive/sdk/authentication/IAuthenticator.java) is the only consumer of the activity parameter via the builder, if you created your own implementation you could ignore the activity parameters entirely and just pass a null value in the builder.

[2016-03-14 22:02] 1gravity commented on #49
I'm using a different DisambiguationAuthenticator class if I want a silent login. Maybe this helps someone:

[code]

[2016-03-15 02:15] 1gravity opened #57 "Needs synchronous API"
Integrating with different cloud storage providers is best done by implementing a wrapper around the different provider's APIs. DropBox and Google Drive both have an synchronous API for accessing the actual drive while OneDrive's API is mostly asynchronous. A wrapper obviously needs to be asynchronous or it would block the ui thread. When asynchronous API meets another asynchronous API it get's ei

[2016-03-15 05:19] peternied commented on #57
This SDK exposes synchronous and asynchronous methods for nearly all functionality, for example you can use the following techniques to get access to a drive.  Does this meet your requirements?

[code]

[code]

If you are looking for additional control over the execution model there is a [IExecutors interface](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/c

[2016-03-15 05:20] peternied commented on #5
Abandoning this pull request for the time being, if there is renewed interest we can investigate this issue further.

[2016-03-15 05:20] #5 closed, assigned to peternied

[2016-03-15 05:28] peternied commented on #14
At this time we will not be supporting parcelable items within this sdk

[2016-03-15 05:28] #14 closed, assigned to nobody

[2016-03-15 05:29] peternied commented on #18
Not right now, but if someone creates a pull request with a proof of concept I would be interested in integrating these changes.

[2016-03-15 05:29] #18 closed, assigned to nobody

[2016-03-15 05:29] #42 closed, assigned to nobody

[2016-03-15 05:29] #50 closed, assigned to nobody

[2016-03-15 05:30] 1gravity commented on #57
This is indeed what I was looking for. Sorry my bad ;-)

[2016-03-15 05:30] #57 closed, assigned to peternied

[2016-03-15 05:32] peternied commented on #55
We will not be looking to take new dependencies onto this core library such as OkHttp or Volley.

[2016-03-15 05:32] #55 closed, assigned to nobody

[2016-03-17 20:15] 1gravity opened #58 "Check permissions"
Can your library check the permissions it needs to run and throw an exception if the permissions aren't granted?
I just spent a lot of time because one of my Gradle flavors had
`<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>`
in its manifest and I didn't remember any more (that's my fault of course).
As a consequence the token could not be refreshed a

[2016-03-17 21:17] peternied commented on #58
We would be happy to accept a pull request that handles this kind of permissions check, if you'd like an example of an existing permission check [this class](https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/com/onedrive/sdk/authentication/adal/BrokerPermissionsChecker.java) would serve a great starting point

[2016-03-24 15:34] 1gravity opened #59 "Get rid of accounts permissions"
Why does the SDK need all the accounts permissions? I understand that the Google Drive SDK asks for that permission since it's using the device's accounts for identification to the drive but OneDrive should not need it because the user already provides the credentials to authenticate.

On Android this gets worse because it's all under the Contacts permission. I can't explain to the users why my ap

[2016-03-24 16:30] peternied commented on #59
Those permissions are required for the Azure Active Directory library [ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-android). If you are not using the ADAL library dependency  `compile 'com.microsoft.aad:adal:X.X.X'`, you can use the [manifest merger](http://tools.android.com/tech-docs/new-build-system/user-guide/manifest-merger#TOC-Element-Removal) to remove these permission

[2016-03-24 16:30] #59 closed, assigned to peternied

[2016-03-24 16:51] 1gravity commented on #59
This answer isn't correct.
Even if com.microsoft.aad:adal:1.1.11 isn't used (only com.microsoft.services.msa:msa-auth:0.8.4) the SDK still wants the permission.
My understanding is that the ADAL is needed for OneDrive for Business although I can access the OneDrive for Business by using the msa-auth library only for both MSA and ADAL authentication, so not sure why the ADAL even exists.
Anyway "pe

[2016-03-25 14:44] 1gravity opened #60 "Access to extended visibility flags denied: Requires com.sonymobile.permission.SYSTEM_UI_VISIBILITY_EXTENSIONS permission"
On certain Sony devices, when the authentication screen tries to open (webview), it shows a blank page and nothing happens afterwards. Logcat shows the following error:

When I add the permission to the manifest, everything is back to normal:
`
<uses-permission android:name="com.sony.mobile.permission.SYSTEM_UI_VISIBILITY_EXTENSION" />
`

This happens on a Sony Xperia Z, maybe other Sony devices a

[2016-03-25 20:36] peternied commented on #60
@1gravity Thanks for the report. Do you know much about the `com.sony.mobile.permission.SYSTEM_UI_VISIBILITY_EXTENSION` permission? I looked around and didn't see any documentation on what it does/doesn't for those devices, do you have more details on the device or why it might require such permissions?

[2016-03-25 21:29] 1gravity commented on #60
I didnt' find much either. Here's a start:
https://developer.sony.com/?s=com.sony.mobile.permission.SYSTEM_UI_VISIBILITY_EX
My experience with Sony is that they have no developer support whatsoever, no documentation, nothing. Sorry can't be of much help here. My guess is it has something to do with the window features
(as in activity.requestWindowFeature(Window.FEATURE_NO_TITLE) etc.).

[2016-03-25 22:06] #60 closed, assigned to nobody

[2016-03-25 22:07] peternied commented on #60
@1gravity Could you try upgrading your MSA-Auth-for-Android library to version 0.8.6 and see if this fixes the permissions issue?  If you are still having problems please reopen

[2016-03-26 03:50] 1gravity commented on #36
I have exactly the same issue.
Since it does work when using the ADALAuthenticator I compared the login code of ADALAuthenticator and DisambiguationAuthenticator.
Both will fail when doing the silentLogin after which the normal login (with ui) is called. DisambiguationAuthenticator will simply open the login screen to get the account to be able to work its magic of disambiguating. ADALAuthenticato

[2016-03-26 19:40] 1gravity commented on #60
Yes it's fixed.
Thanks for being so responsive.

[2016-03-28 16:44] 1gravity commented on #36
This issue should not be closed btw. It seems as if the SDK guys are pointing towards the ad guys and vice versa. You need to work together to figure this out.

[2016-03-28 16:47] peternied opened #61 "DisambiguationAuthenticator is re-prompting for login information"
@1gravity @ThomasSHA

[2016-03-28 16:48] peternied commented on #36
I'm starting a fresh issue, and I'll be working on this today

[2016-03-28 16:49] peternied commented on #36
See https://github.com/OneDrive/onedrive-sdk-android/issues/61

[2016-03-28 17:09] 1gravity commented on #36
Great. Thank you.
What really confused me is the fact that the silent login fails but the regular login succeeds when using the ADALAuthenticator. I'm not sure if a re-prompting DisambiguationAuthenticator is really the issue here. I think the real problem is that the silent login fails in the first place which it shouldn't since the user already authenticated during a previous session. But maybe

[2016-03-28 17:17] peternied commented on #36
Re-prompting `DisambiguationAuthenticator` is not the root cause of these problems, I'm still working on correcting the ADAL silent authentication flow to handle all scenarios.

However, preventing the re-prompting should mitigate the worst user experiences, where I open the app, type in my username (disambiguation), type in my password (adal), authenticate, use the app, close the app, open the ap

[2016-03-28 23:24] peternied commented on #61
@1gravity @ThomasSHA could you try out this pull request and see if it resolved your problem?

[2016-03-29 08:27] ThomasSHA commented on #61
Well, it does work...
But I see some problems:
1. It seems not to work with recent version of adal lib (1.1.16)
2. SilentLogin still fails, so at least my workaround to get a "only try silent login"-functionality by overwriting the OneDriveClient will also still fail (code following)

[code]

In my opinion it's a nice workaround, but not fixing the cause of the bug.

[2016-03-29 08:59] 1gravity commented on #61
It's working.
Adding a silent login shouldn't be too hard either.
E.g. by adding a loginAndBuildClient(final ICallback<IOneDriveClient> callback) to the OneDriveClient. The signature lacks the Activity parameter and so the method would try to login silently but then simply not do the interactive login call.

Here's a question. What is the adal library used for? I'm using OneDrive and OneDrive for

[2016-03-29 09:29] peternied commented on #61
If you are using the DisambiguationAuthenicator you are using both a MSA library and ADAL library to authenticate.  The ADAL library is the only way to authenticate AAD accounts with OneDrive for Business.  There is a newly converged endpoint which can authenticate both with only a [OAuth v2 flow](https://azure.microsoft.com/en-us/documentation/articles/active-directory-v2-protocols-oauth-code/) b

[2016-03-29 10:22] ThomasSHA commented on #61
One more thing:
When I use the "loginAndBuildClient"-Login-Method -> login -> and then wait for an hour (until the token is no longer valid) inside the app and then try to do e.g. a list directory, it does not work. Like before the fix. You could tell me now, I should login again, or every hour, or every time I try to make a file operation, but I think that's now how it should work (please correct

[2016-03-29 20:35] 1gravity commented on #61
Let me elaborate on my question about the ADAL library.

You build.gradle defines the dependencies like this:

[code]

My guess is that you want to exclude the adal and msa libraries from the aar you're distributing which makes sense since not everyone would want both authentication methods. That's why your readme says to set up the dependencies like this:

[code]

Unfortunately the excludes don't

[2016-03-31 22:30] peternied commented on #61
Just updated the pull request, turns out the bug was in the SDK code, the resource id != resource url, which is what the system was doing and that created the rest of the strange errors we saw.

Please check if this resolves your issue, and it should work immediately without a signout/signin

[2016-03-31 22:52] peternied opened #64 "Dependencies exclusion for module is not correct"
Originally asked by @1gravity

The build.gradle defines the dependencies like this:

[code]

My guess is that you want to exclude the adal and msa libraries from the aar you're distributing which makes sense since not everyone would want both authentication methods. That's why your readme says to set up the dependencies like this:

[code]

Unfortunately the excludes don't work and I get the follow

[2016-03-31 23:23] peternied commented on #64
I tried using exclude group and locally still see the ADAL module imported, I'm doing a little more background research into how this should be resolved and how I can verify. As might just change the guidance to use `transitive = false`;

[2016-04-01 00:03] 1gravity commented on #64
I have this in my Gradle script:

[code]

Without adding the needed library dependencies, it will only compile and deploy my app with the sdk but the app then crashes with a java.lang.NoClassDefFoundError: Failed resolution of: Lcom/microsoft/services/msa/LiveAuthClient.

The same when I just add the @aar:

[code]

Or when I use transitive = false:

[code]

Once I add this to the dependencies ever

[2016-04-01 07:08] ThomasSHA commented on #61
Now it seems to work like it should :dancers:
Will test it inside the "real" app as soon as an aar is available!

Thanks for your help!

[2016-04-01 16:14] 1gravity commented on #61
My tests were mostly positive. There's however one more issue.
Logging out of the ADAL authenticator doesn't work (it does for MSA). As a result I'm not able to switch between different OneDrive accounts (my app allows to select different cloud storage providers so they can use OneDrive, Dropbox or others).
To test this I login to OneDrive for Business, then switch to e.g. Dropbox. My app logs out

[2016-04-01 23:08] #64 closed, assigned to peternied

[2016-04-01 23:15] #61 closed, assigned to peternied

[2016-04-01 23:24] 1gravity opened #66 "ADAL logout doesn't work"
Logging out of the ADAL authenticator doesn't work (it does for MSA). As a result I'm not able to switch between different OneDrive accounts (my app allows to select different cloud storage providers so they can use OneDrive, Dropbox or others).
To test this I login to OneDrive for Business, then switch to e.g. Dropbox. My app logs out of OneDrive as soon as the user has authenticated with Dropbox

[2016-04-01 23:30] peternied commented on #66
This was fixed in 4f9392e02ffbee8c471c5bdcaf384c47d3200a52 which was included in the 1.1.4 release.

[2016-04-01 23:31] 1gravity commented on #66
Sorry my bad

[2016-04-01 23:31] #66 closed, assigned to nobody

[2016-04-01 23:37] 1gravity opened #67 "IllegalArgumentException in ADAL authentication on Android 4.1x"
When trying to authenticate (first time, interactive) for an ADAL account, the app crashes with the following exception:

This happens on Android 4.1x only (I tested on a Samsung Galaxy S2 and a Samsung Note II), it works on any other device I tested so far.

[2016-04-01 23:40] 1gravity commented on #67
Closed for https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/571

[2016-04-01 23:40] #67 closed, assigned to nobody

[2016-04-04 07:51] ThomasSHA commented on #61
updated the lib to 1.1.4 and it seems to work as expected!

[2016-04-04 10:04] sw-dev1 opened #68 "ExceptionInInitializerError at LiveAuthClient.loginSilent"
App with SDK crashes on a device at first start (new install).  Gist: https://gist.github.com/sw-dev1/66e22e5d5db95cf090c34ee1d8c0d24d

[2016-04-04 16:00] peternied commented on #68
Since the loginAndBuildClient() call will invoke UI this needs to be done from a UI thread, or a thread that has called Looper.Prepare().

You can see some common techinques to handle this kind of operation from the [Android documentation on WorkerThreads](http://developer.android.com/guide/components/processes-and-threads.html#WorkerThreads).

[2016-04-04 18:24] 1gravity opened #69 "MSA Authenticator asks repeatedly for permission"
This is related to https://github.com/OneDrive/onedrive-sdk-android/issues/36.

While issue 36 is solved (OneDrive 4 Business), the same or similar issue exists with the regular OneDrive (MSA).
- Authenticate using a OneDrive account (non business, ui) + grant permissions
- Swipe the app from the recent list (-> app is killed)
- Re-open the app, app tries to login again -> the user gets the popup

[2016-04-05 11:24] ThomasSHA opened #70 "OneDrive for Business: "MoveFile" doesn't throw client exception if file already exists"
I implemented a "move" -fileoperation
So I used `...buildRequest().patch(newLocation, new ICallback<Item(){....}`

When using MSA i get a `failure` callback with an `OneDriveErrorCodes.NameAlreadyExists`-Error
This is great.

When using OneDrive for Business Account, it just successfully finishes, which is not really I would expect ;)

I hope you can help me again

Thanks in advance,
Thomas

[2016-04-05 12:04] ThomasSHA commented on #70
Another related question:
Would it be possible to get an `NameAlreadyExists`-Error also when `post`ing a new item (in my case a folder) and copying (`getCopy(...).buildRequest().post()`)?

Or is there a way to easily get information if a "name" already exists in a folder, rather then iterating over the folder's children?
edit: ok I maybe found a "nicer" way: `mOneDriveClient.getDrive().getItems(fo

[2016-04-05 13:03] ThomasSHA commented on #70
`mOneDriveClient.getDrive().getItems(folder).getChildren(itemName).buildRequest().get();`
doesn't seem to work with OneDrive for Business =>        `com.onedrive.sdk.http.OneDriveServiceException: Error code: Unable to parse error response message`

[2016-04-06 05:51] ishroid opened #71 "How to get recent files using android SDK"
I can see in docs , I must use *_GET /drive/view.recent *_ to get recent files but, i am using onedrive sdk

I am not getting any way to manually call *_GET /drive/view.recent *_ or any inbuilt method,

**how to get recent files .**

[#332](https://github.com/OneDrive/onedrive-api-docs/issues/332#issuecomment-205896714)

Thank you

[2016-04-07 11:43] sw-dev1 commented on #68
Thanks! But I thought I had ensured no other thread than the UI calls loginAndBuildClient() in this way (similar to the explorer sample):
in the BaseApplication:
...
    public synchronized IOneDriveClient getOneDriveClient() {
         if (mClient.get() == null) {
             throw new UnsupportedOperationException("Service object not available");
        }
        return mClient.get();
    }

.

[2016-04-08 08:02] sw-dev1 opened #72 "Error during HTTP request caused by UnknownHostException: Unable to resolve host"
Logcat: https://gist.github.com/sw-dev1/1c22501730731fb45da5fc4f82b75a3f

Is this a permanent or temporary error? What code from OneDriveErrorCodes is thrown in this case?What would be the suggested action when catching this error?

[2016-04-08 08:58] sw-dev1 commented on #53
Most likely cause of this error seems to be a long file name with spaces or characters not allowed in a HTTP request. Are there requirements for pre-handling of file names that I might have missed?
A possible workaround is to use  java.net.URLencode as pre-handling. The error does not occur. But this leads to server items created with + in the name instead of space. Any ideas how to move forward o

[2016-04-11 17:16] peternied commented on #69
Sorry for the delay, I was out of the office.

If you do not have the `wl.offline_access` scope in your application, the user will be prompted to authorize your application via OAuth flow ever time they start the application.  If you want the login, and not be prompted again experience for your users you will need to add that scope.

[2016-04-11 20:15] peternied commented on #72
It looks like the URL returned from the OneDrive service did not actually map an entry in the OneDrive's DNS.  Does this error persist with this item or other items as well if you get a fresh download url?  Could you include more details from the logcat output where you lookup the item information, did you attempt to download from https://api.onedrive.com/drive/items/{item-id}/content or follow th

[2016-04-12 14:01] sw-dev1 commented on #72
I used https://api.onedrive.com/v1.0/drive/items/2A37E14FEF9805AF!53113/content, which failed with host 8ggnvq.bn1303.livefilestore.com, as in the linked Gist. I saw this with two more items:
2A37E14FEF9805AF!53287/content, which failed with missing host 8mghvq.bn1303.livefilestore.com. The other occurrence was for 2A37E14FEF9805AF!53130, failing with the same host

The errors were happening at a

[2016-04-13 16:54] peternied commented on #72
For a network issue like this, your application should prompt the user to retry/refresh, or have a dynamic back-off algorithm, like if failure wait X, then retry, X=X^2 for future attempts.

This is an unexpected error within the OneDrive service, I'm digging into it now.  I'll circle back when I have more information for you.

If you do encounter this issue again could you please upload a new GIS

[2016-04-13 16:54] peternied commented on #72
Wrong button.

[2016-04-15 11:20] OlegRy opened #73 "Restore OneDrive session with existing access token"
Is there any way to restore session in OneDrive if I have an access token which was received earlier (e.g. I authorized in OneDrive on another device and got access token and then I need restore session with the same token)?

[2016-04-15 15:19] peternied commented on #73
When requesting scopes by adding the `wl.offline_access` scope the authentication response will include a refresh token which can be used to acquire a new access token without a interactive login flow.

If you use the MSAAuthenticator, this will automatically store/manage/use this refresh token.  To see a full application example that uses the offline access scope of scenario see, the [OneDrive Ex

[2016-04-21 22:01] peternied commented on #72
I've looked into this issue and have been unable to see any errors with the service that would be associated with this kind of failure.  If you encounter this issue again please reopen or create a new issue.

[2016-04-21 22:01] #72 closed, assigned to peternied

[2016-04-21 22:08] peternied commented on #53
Thanks for the report, the source of the problem is that the filename contains invalid characters for a request url, you should be able to URL encode the file name to prevent this problem.

To the error message, we are getting an xml error from a much lower part of our framework that routes requests which is why the json parsing fails.  Thanks for reporting.

[2016-04-21 22:36] peternied commented on #54
Gradle dependency is the supported method of using this library.  This issue is rather old at this point, please reopen if this is still a problem.

[2016-04-21 22:36] #54 closed, assigned to peternied

[2016-04-21 22:39] peternied commented on #68
I'm not sure of why you are seeing that behavior, if you had a reproduction of the failure on a fork of the OneDrive-Explorer-Android we could take a quick look,

Since this issue is rather old, please reopen if this is still a problem

[2016-04-21 22:39] #68 closed, assigned to peternied

[2016-04-21 22:39] peternied commented on #69
Closing out this older issue, please reopen if this is still a problem

[2016-04-21 22:39] #69 closed, assigned to peternied

[2016-04-21 22:40] peternied commented on #73
Closing out this issue, please reopen this is still a problem.

[2016-04-21 22:40] #73 closed, assigned to peternied

[2016-04-23 00:37] #53 closed, assigned to peternied

[2016-05-12 17:56] diogowbrito opened #75 "Couldn't get required info after having followed the setup steps"
After following the link posted on README (https://dev.onedrive.com/app-registration.htm) and setting up a new account and a new OneDrive app I wasn't able to get the `msa-client-id` id, I was only able to fetch the `adal-client-id` id.

This is what my app page looks like. Is the README up to date? Do I require both keys?
<img width="1197" alt="screen shot 2016-05-12 at 18 55 58" src="https://clo

[2016-05-18 00:25] daboxu commented on #75
hi @diogowbrito , this portal is supposed to provide new version Microsoft Account experience. The app registered on the portal should work fine with the [Microsoft Graph Android SDK](https://github.com/microsoftgraph/msgraph-sdk-android). You should use the [MSA Auth Adapter for Microsoft Graph](https://github.com/microsoftgraph/msgraph-sdk-android-msa-auth-for-android-adapter).

[2016-05-19 06:59] yanbli opened #76 "Sometimes upload doesn't work when upload a file to OneDrive for Business"
I find it can work one day, but next day it doesn't work.

the call stack is:

13881-14190/? D/DefaultHttpProvider[sendRequestInternal] - 244: Response code 503, Service Unavailable
05-19 02:49:07.468 13881-14190/? D/DefaultHttpProvider[sendRequestInternal] - 249: Handling error response
05-19 02:49:07.475 13881-14190/? E/DefaultHttpProvider[sendRequestInternal] - 305: OneDrive Service exception E

[2016-05-19 07:01] yanbli commented on #76
I also try the onedrive-explorer sample. It has the same issue.

[2016-05-20 22:00] Hamix opened #78 "Use as a file server"
Hi
I want to use my 'onedrive' as a file server and share my drive files for other user. is it possible?
I do not know exactly what is the purpose of "MSA authentication ClientId"
I have read this link [register-your-app](https://dev.onedrive.com/auth/msa_oauth.htm#to-register-your-app)
I created a new password in "Application Secrets" part and wrote this code

[code]

[code]

here is my logcat

W

[2016-05-23 08:06] yanbli opened #79 "upload will fail when I upload file to OneDrive for personal"
When I use microsoft account(hotmail account) to login and upload a file, the response is

<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'><html xmlns='http://www.w3.org/1999/xhtml'><head><meta content='text/html; charset=utf-8' http-equiv='content-type'/><style type='text/css'>body {font-family:Arial; margin-left:40px; }img

[2016-05-23 08:07] yanbli commented on #79
when I use your sample app(https://github.com/OneDrive/onedrive-explorer-android) to upload a file. It has the same issue.

[2016-05-23 19:49] daboxu commented on #78
hi @Hamix , the new app portal registered app returned GUID version APP ID. You can use the GUID one in the MSA Authenticator for getting you authorized. In you case, the code should work like:

[code]

and in createOneDriveClient method:

[code]

For more detail about how to integrate OneDrive SDK with your app, you can see the sample app [OneDrive Explorer Android](https://github.com/OneDrive/on

[2016-05-23 19:49] daboxu commented on #78
#75

[2016-05-23 19:50] #75 closed, assigned to daboxu

[2016-05-24 10:38] yanbli commented on #76
@daboxu What's the root cause about this issue? It happens again today. Per two days, it will happen.

[2016-05-24 10:38] yanbli commented on #79
@daboxu What's the root cause about this issue?

I found another user have the same issue
http://stackoverflow.com/questions/37360270/onedrive-put-failing-with-error-503

[2016-05-24 18:19] skvalex commented on #79
I have the same problem in my project. Got feedback from users that uploading to OneDrive doesn't work about 5 days.

[2016-05-25 19:13] sw-dev1 commented on #53
Great that this is solved. Would you recommend java.net.URLencode for URL encoding?  Would names of items be then decoded correctly? I saw server items being created with + in the name instead of space when using java.net.URLencode.

[2016-05-25 19:56] daboxu commented on #79
@skvalex @yanbli the SDK 1.2.0 should have fixed the uploading issue. It is due to an update on our infrastructure at server side.

[2016-05-25 19:56] daboxu commented on #76
#80

[2016-05-25 19:57] daboxu commented on #76
#80 should have fixed this.

[2016-05-26 05:47] yanbli commented on #79
This issue has been fixed on latest version 1.2.0. But there is another issue,

For OneDrive personal, I can't upload the file with Chinese title. for English title file, it is fine.
For OneDrive business, all file can be uploaded.

Do you know why?

[2016-05-26 05:54] yanbli opened #81 "I can't upload files with chinese title to OneDrive personal"
This issue has been fixed on latest version 1.2.0. But there is another issue,

For OneDrive personal, I can't upload the file with Chinese title. for English title file, it is fine.
For OneDrive business, all file can be uploaded.

Do you know why?

the log is
311: Error during http request
com.onedrive.sdk.core.ClientException: Error during http request
  at com.onedrive.sdk.http.DefaultHttpProv

[2016-05-26 12:42] skvalex commented on #79
I can confirm the problem described above. Not only Chinese characters fail, but Cyrillic as well.
That's what I get in the log:

The problem can be easily reproduced on https://apigee.com/OneDrive/embed/console/OneDrive
It doesn't matter if the string is urlencoded or not.

[2016-05-26 16:17] skvalex commented on #81
The same issue with Cyrillic characters, please fix the the problem as soon as it possible.

https://github.com/OneDrive/onedrive-api-docs/issues/371

[2016-05-26 16:41] daboxu commented on #79
close this thread and move the issue for characters to #81

[2016-05-26 16:41] #79 closed, assigned to daboxu

[2016-05-26 16:42] daboxu commented on #76
@yanbli can you confirm the issue has gone?

[2016-05-26 23:57] #71 closed, assigned to daboxu

[2016-05-27 01:14] skvalex commented on #81
@daboxu have you tried your fix with the server? As I was always using urlencode to create the request:
UploadSession uploadSession = mClient.getDrive()
                    .getSpecial(APPROOT)
                    .getItemWithPath(URLEncoder.encode(path, "UTF-8"))
                    .getCreateSession(new ChunkedUploadSessionDescriptor())
                    .buildRequest()
                    .po

[2016-05-27 23:18] daboxu commented on #81
@skvalex thanks for providing the url, I can repro with it and has pushed a server side change. Will be back when server side issue has been fixed.

[2016-05-30 11:38] yanbli commented on #81
@skvalex When can it work? Can you provide a ETA?

[2016-05-30 22:32] skvalex commented on #81
@yanbli the question should be addressed to @daboxu. I'm in the same situation as you are.

[2016-05-31 14:18] OlegRy opened #83 "Failed to get quota info"
I've authorized in my application with OneDrive SDK. After getting of permissions I try get drive's quota info. I create client.getDrive.buildRequest().get() and get Drive object, which has quota field equals to null. What am I doing wrong? There's a sample code:

[code]

I sure that my mClient not equals null and mDrive initializes too.

[2016-05-31 16:32] daboxu commented on #78
close issue as not received any further question from user

[2016-05-31 16:32] #78 closed, assigned to daboxu

[2016-05-31 17:48] peternied commented on #83
When you declare the [scopes your application](https://github.com/OneDrive/onedrive-api-docs/blob/master/auth/msa_oauth.md#authentication-scopes) has access to, which ones did you include?

Could you capture the full request body and response and include it in this issue?

[2016-05-31 23:42] OlegRy commented on #83
Ok. There's my class which I use for accessing to OneDrive

`public class OneDriveHelper {

[code]

}`

So, when I try get Drive's info, I have almost all data (such as clientId etc.), but some fields like quota equals to null. Also I've tried do another requests with the same instance of IOneDriveClient and all has worked.

[2016-06-01 08:43] OlegRy commented on #83
Here's mRawObject:
`{"@odata.context":"https://api.onedrive.com/v1.0/$metadata#drives/$entity","id":"c5180d0d923a0f8d","driveType":"personal","owner":{"user":{"displayName":"Олег Рябцев","id":"c5180d0d923a0f8d"}}}`

And screenshot of my debug window:
![2016-06-01 11 42 49](https://cloud.githubusercontent.com/assets/5437100/15703457/0d22a190-27ee-11e6-9d4c-2b11f9268ea1.png)

I hope, it will help

[2016-06-01 15:02] peternied commented on #83
Thanks for the details @OlegRy If you want to look up the quota information on a users drive, the scopes `onedrive.read` or `onedrive.readwrite` will need to be added to the scopes returned by `mMSAAuthenticator`.  Once this has been included and you have gone through the OAuth flow again to consent to the new scopes you should see the quota information on the Drive

[2016-06-01 15:35] OlegRy commented on #83
Thanks! That works!

[2016-06-01 15:46] #83 closed, assigned to peternied

[2016-06-01 16:17] OlegRy opened #85 "Uploading of file failed"
I've authorized through SDK in my application and now I want upload file from device to OneDrive. I have permissions : "onedrive.readwrite", "onedrive.appfolder" , "wl.offline_access". There's a method for uploading:

[code]

This method generates request URL like this: https://api.onedrive.com/v1.0/drive/special/approot/children/myFile.jpg/content and I catch an Exception with next stacktrace:
`

[2016-06-01 17:08] #81 closed, assigned to daboxu

[2016-06-01 19:05] skvalex commented on #85
@OlegRy you need to update SDK up to the version 1.2.0: https://github.com/OneDrive/onedrive-sdk-android/issues/79#issuecomment-221688250

[2016-06-02 05:46] yanbli commented on #81
@daboxu in sdk 1.2.1 Do I need to encode the path? I find if don't encode the path for onedrive personal, it can work. But it doesn't work for onedrive business no matter encode the path

[2016-06-02 05:49] yanbli commented on #76
@daboxu  in sdk 1.2.1 the previous issues is gone. But new issue happen. Do I need to encode the path? I find if don't encode the path for onedrive personal, it can work. But it doesn't work for onedrive business no matter encode the path

[2016-06-02 16:01] daboxu commented on #81
You don't need encode the path. What error are you seeing for business account in logcat? I tested with business account and had no problem.

[2016-06-06 01:38] yanbli commented on #81
Thanks @daboxu for replying. It works now.

[2016-06-06 16:07] daboxu commented on #76
gone with fix #82

[2016-06-06 16:07] #76 closed, assigned to daboxu

[2016-06-09 12:25] viktoria-fomenok commented on #83
Good day, Oleg do you have e-mail or account Vk, Facebook, I want to ask you some question?

[2016-06-10 02:01] 4b69 commented on #49
Was there any progress made on this? It's quite jarring to be prompted to re-allow the same permissions for an app on a onedrive account when gdrive/dropbox/etc can all do it silently.

[2016-06-10 05:49] isabsent opened #88 "Lower SDK version to 14?"
Which of your onedrive-sdk-android dependencies needs a minimum SDK version 15? Is it possible to change it to SDK version 14 at least?

[2016-06-10 16:13] peternied commented on #88
We will not be officially supporting API14 or lower versions of Android, if you would like your application to support these scenarios you could override the minSdkVersion via the manifest merger, see [this StackOverflow answer](http://stackoverflow.com/a/29949258) which explains how this can be done.

[2016-06-10 16:13] #88 closed, assigned to nobody

[2016-06-14 03:11] isabsent commented on #88
Thanks! Did not know about this possibility!

[2016-06-14 17:19] peternied commented on #49
@p0087 @cpore @1gravity  With the release of the [Microsoft Graph SDKs for Android](https://github.com/microsoftgraph/msgraph-sdk-android), there was a slight redesign of the configuration/authentication pattern that does not require passing an activity reference into the service client object.

Note; the Microsoft Graph has some incomplete scenarios compared to calling the OneDrive API directly,

[2016-06-15 14:14] hschottm opened #89 "Next page is never delivered for item collection"
Using the example to get the next page when you list items doesn't work with the actual version of the API. The example

[code]

always lists the first 200 items and you going to end up in an endless loop. I tested this with a directory with 399 items. The `result.getNextPage().buildRequest().get()` function always delivered the first 200 items.

This did once work with an earlier version of the A

[2016-06-15 14:25] AnoXDD opened #90 "Typo in the Demo Example"
There was a typo in the example code of this section:
https://github.com/OneDrive/onedrive-sdk-android/blob/master/docs/items.md#delete-an-item

On the second line, a pair of parentheses are missing. Instead of
`final ICallback<Item> callback = new ICallback<Item> {`
It should be
`final ICallback<Item> callback = new ICallback<Item>() {`

Thank you :)

[2016-06-15 14:28] AnoXDD commented on #90
Also, it seems that it needs to be `<Void>` instead of `<Item>` to get this code compile.

[2016-06-15 16:55] #90 closed, assigned to peternied

[2016-06-16 09:28] GaurangChauhanAI opened #92 "OneDrive Service exception to create public link"
OneDrive Service exception [This is an unexpected error from OneDrive, please report this at https://github.com/OneDrive/onedrive-sdk-android/issues]
                                                                                               Error code: Unable to parse error response message
                                                                                               Error mes

[2016-06-16 15:57] peternied commented on #92
@gaurnagchauhan If you repeat the request do you still get the same error?  Looking at the inner error text, a 503 error is reported, which are typically transient based on network conditions.

Side note: It looks like you are using an older version of the SDK, you might want to upgrade to version 1.2.1+

[2016-06-17 04:24] RomaSoftware opened #93 "Error 503 when trying to upload"
I'm trying to upload a file from an Android app using "PUT /drive/items/{parent-id}:/{filename}:/content", but consistently get a 503 error stating that the service is unavailable.  It worked fine until recently.  I read about a similar problem that was fixed in the SDK:

_"@skvalex @yanbli the SDK 1.2.0 should have fixed the uploading issue. It is due to an update on our infrastructure at server

[2016-06-24 17:44] #93 closed, assigned to nobody

[2016-06-24 17:46] peternied commented on #92
@gaurnagchauhan Please reopen if this is still an issue

[2016-06-24 17:46] #92 closed, assigned to peternied

[2016-06-24 17:46] peternied commented on #85
@OlegRy Please reopen if this is still an issue.

[2016-06-24 17:46] #85 closed, assigned to daboxu

[2016-06-29 12:50] OlegRy opened #95 "Replacing of files"
Is it possible to replace file on drive? For example, I had photo on drive, which was downloaded to my app. In my app I've cropped photo and now I want upload cropped photo to drive using replacing. Is it possible to do that avoiding removing?

[2016-06-29 15:55] #89 closed, assigned to daboxu

[2016-06-29 17:19] peternied commented on #95
You can PUT against the content of a file, and it will replace the binary content of that file.  It will update the relevant metadata on that item such as the size, but not alter any of the OneDrive metadata such as sharing links.

[code]

[2016-06-30 01:10] saucepwn opened #96 "getNextPage() does not work, gets the same page instead"
When calling IItemCollectionPage, I would expect that the next page is returned, however, the current page is returned over and over again.

getNextPage() returns a correct IItemCollectionRequestBuilder, in my case, with the baseUrl: "https://api.onedrive.com/v1.0/drives('me')/special('photos')/children?$skiptoken=MjAx"

However, when I call .get() on the IItemCollectionRequestBuilder, inside Base

[2016-06-30 11:34] OlegRy commented on #95
Good! Thanks!

[2016-06-30 11:34] #95 closed, assigned to peternied

[2016-06-30 17:58] daboxu commented on #96
hi @saucepwn try use the updated version 1.2.2 which should have the fix

[2016-06-30 21:20] saucepwn commented on #96
Thank you! Speficially requesting version 1.2.2 fixed the issue.

`compile ('com.onedrive.sdk:onedrive-sdk-android:1.2.2') {
        transitive = false
    }`

[2016-06-30 21:20] #96 closed, assigned to nobody

[2016-07-01 03:26] khanhdd26 opened #98 "Can not sign in with new Client ID format"
I can't get it OneDrive api works with new msa-client-id format like "00000000-0000-0000-0000-000000000000", the login webview always returns: "We're unable to complete your request".

If i replace it with "0000000000000000", it works prefectly, and show the login page.

[code]

Can you help me with it?
Thanks.

[2016-07-05 16:41] daboxu commented on #98
hi @khanhdd26 , have you enabled LiveSDK in the new dev portal https://apps.dev.microsoft.com?
I got my app enabled which works for me:
![capture](https://cloud.githubusercontent.com/assets/3971919/16592223/7c02b4cc-4294-11e6-8ae5-0462ed7ece71.PNG)

[2016-08-01 06:10] khanhdd26 commented on #98
Thanks for your reply.
I have enabled that option when i create a key but it didn't work.
Anyway, a day later, i created new key and it was working this time.

[2016-08-01 16:04] daboxu commented on #98
@khanhdd26 good to know it is solved!

[2016-08-01 16:04] #98 closed, assigned to nobody

[2016-08-09 14:39] sw-dev1 opened #99 "After an item is deleted through the API, it is included in the next delta."
Except for the case of deletion, all other changes through the API (with the same client) are not included in the next delta. Is the different behavior for deletion deliberate?

[2016-08-09 16:48] peternied commented on #99
Those items that were deleted and appear in the delta enumerate will have a `deleted` facet.  This is a feature for applications that are building offline sync clients and need to know when to remove items from disk.

If you don't mind me asking how are you using the delta API?

[2016-08-10 17:26] sw-dev1 commented on #99
I am kind of building a sync client. I get the delta, process all server changes first, then process local/client-side changes. The next delta is empty if there are only newly created items and/or changes in the client-to-server direction. This behavior is really good because (please correct me if I am wrong) the delta includes only server changes caused by clients other than the client requesting

[2016-08-10 18:45] peternied commented on #99
[code]

The delta api does not take into consideration the caller, the only consideration is the delta token that which could be considered marker in time of what changes this client is aware of, you can imagine that for each change there is a delta token created.

Quick example:

Change: Original State!
Delta Token: **214B5F50**

Change: Add File X.txt
Delta Token: 678B7522

Change: Add File Y.tx

[2016-08-12 17:14] sw-dev1 commented on #99
Thanks for this explanation. I realized that I was wrong in my assumption that deletions were handled differently.
As you explained, all changes uploaded to server by the client are included in the next delta request from the same client. As they are not distinguishable from the changes made by other clients, the client that caused them will have to handle them again, reapplying locally the change

[2016-08-12 17:30] peternied commented on #99
The scenario you are describing is conflict management, and their are a many ways depending on what the application knows about the file and the service changes to handle the conflict.

An application could select a file based on metadata and prune the other from the 'sync history', other resolutions could be duplicating files and requiring the user manage the conflicts via some conflict managemen

[2016-08-15 10:40] sw-dev1 commented on #99
I understand. Thank you.

[2016-08-15 10:40] #99 closed, assigned to peternied

[2016-08-23 17:26] sw-dev1 opened #100 "Misleading error response if an illegal character (#) is present in the uploaded file name"
The error response is "415 Unsupported media type", without an error code.
InvalidRequest might be more appropriate, in the lack of a specific "Illegal file/item name".

Logcat extract:
                                                                                                             {

[2016-08-29 16:44] jinsankim opened #101 "How to retrieve user's name?"
I want to display user's name (display name, email address, or any string representing the user.).
Can I get user's name via onedrive-sdk after login success? and How?

Thanks in advance,

[2016-08-30 13:51] jinsankim commented on #101
I found that my question is duplicated with https://github.com/OneDrive/onedrive-sdk-android/issues/35. So I'll close my issue.

Thanks,

[2016-08-30 13:51] #101 closed, assigned to nobody

[2016-08-30 18:09] peternied commented on #101
Thanks for the question @JinsanKim, - This functionality is available through the Microsoft Graph API and won’t be coming to the OneDrive API. See https://graph.microsoft.io for more details.

[2016-08-31 21:39] daboxu commented on #100
hi @sw-dev1 , I would argue for the special character '#' here. As you add it to be a part of the file name, the finally generated url looks like:

PUT /v1.0/drive/{item}/children/file#name.extension/content

in which according to the Uri definition is a valid url and the part after '#' is a fragment. Our server regard the url equal to:

PUT /v1.0/drive/{item}/children/file

which server regards y

[2016-09-15 07:57] wooseopkim opened #102 "Synchronous login method Client loginAndBuildClient(Activity) fails"
When I tried the [example](https://github.com/OneDrive/onedrive-explorer-android) it worked. But the SDK didn't work with my own code. I found that problem was the difference between the asynchronous `void loginAndBuildClient(Activity, Handler)` and synchronous `Client loginAndBuildClient(Activity)`.

Logcat was as following:

If I first sign in with my account using asynchronous `loginAndBuildCli

[2016-09-15 08:21] peternied commented on #102
Was there any additional logcat output after what you've pasted into this issue? From what I see there, no interactive login was attempted, only the silent authentication flow.

[2016-09-15 08:33] wooseopkim commented on #102
@peternied This is all I have:

And the (Kotlin) code is:

[code]

[code]

[2016-09-15 08:40] peternied commented on #102
Thanks for the additional detail we will look into this.

[2016-09-19 16:51] daboxu commented on #102
@linterpreteur it seems it is related to the issue #49, going to merge this to the main thread.

[2016-09-20 06:15] wooseopkim commented on #102
Ok, thank you.

[2016-09-20 18:23] daboxu commented on #102
@linterpreteur the fix #103 hides the synchronous build OneDrive client because it causes deadlock if you invoke it directly from UI thread. Please use the callback versions.

[2016-09-20 20:02] daboxu commented on #100
closing this issue as it is expected behavior

[2016-09-20 20:02] #100 closed, assigned to daboxu

[2016-09-22 23:24] DJAndries opened #104 "OneDrive For Business: Users from other tenants"
When authenticating OneDrive for Business users inside the same organization with the Azure AD application registration, everything works OK.

However, when users from other tenants attempt to authenticate, it fails to get the files service during discovery ("Unable to file the files services from the directory provider").

I noticed that when registering the app on Azure AD, there is no "Multi-Te

[2016-09-22 23:35] peternied commented on #104
@DJAndries If you follow the instructions here https://github.com/OneDrive/onedrive-api-docs/blob/master/app-registration.md#register-your-app-for-onedrive-for-business are they able to get you unblocked?

[2016-09-22 23:40] DJAndries commented on #104
I did follow those instructions with no luck. Perhaps I should also note that I am using an Office 365 trial account to test the multi-tenant login

[2016-09-22 23:49] peternied commented on #104
I found a question in the msdn community forums that has some additional detail in the same vein as your problem, give https://social.msdn.microsoft.com/Forums/en-US/2f821618-4818-458f-839b-d16c2372dde7/how-to-add-multitenant-support-to-an-office-365-sample-app?forum=appsforoffice a shot.

[2016-09-23 00:23] DJAndries commented on #104
When registering a "Native" application on Azure AD, is it automatically Multi-Tenant? There is no option or switch for toggling the multi-tenant setting for Native apps.

When logging in, inside the ADALAuthenticator.getOneDriveApiService method, the array of services will contain other services (such as Calendar, Mail, Directory, etc.) but no 'MyFiles' or 'RootSite' elements. Those two elements

[2016-09-23 10:35] thekindJose opened #105 "Shared Link for a docx/xlsx file cannot be downloaded"
Hi, I'm using the onedrive api explorer to get familiar with how to use it and I've run into the following problem:
When I create a link to share a docx or an xlsx file, and send the link to someone, it directly opens the browser to view the file. But when I create a link for a png file, the link shared allows the person who receives the link to download it.
If I try to download the link generated

[2016-09-23 11:18] peternied commented on #105
Related: https://github.com/OneDrive/onedrive-explorer-android/issues/75

The format of URLs that OneDrive returns are not always in a pattern that work for the Android Download manager, this 'limited' behavior is documented degree here http://www.digiblog.de/2011/04/android-and-the-download-file-headers/

In order to avoid this issue you can use a getContent() request to download the file bytes a

[2016-09-23 11:37] thekindJose commented on #105
Hi again,
thanks for your response. Maybe I have not explained myself properly, but the issue I want to point is not with Android Download Manager.
For instance, if you generate a shared link for a PPTX with the explorer api sample and send it via email to someone, if he clicks on the link from a computer, instead of downloading the file (which is what I'm looking for), the browser is opened and P

[2016-09-23 12:03] peternied commented on #105
Thanks for the clarification, you can do this with a little bit of legwork

Once you've created a link, you'll have a webUrl in the response:

[code]

If you just query this link, you'll get a 301 message which should redirect you to a url like so:

[code]

If you replace the `redir` part of the path to `download` this modified link will download the file.

For some additional background on what y

[2016-09-23 18:51] DJAndries commented on #104
I have resolved the issue after receiving a support ticket from a customer who received this error message when trying to log in: "Calling principal cannot consent due to lack of permissions". After some searching, I found this article: https://social.msdn.microsoft.com/Forums/office/en-US/40da258e-d036-4376-bb1c-7f037a99d635/aadsts50020-calling-principal-cannot-consent?forum=exchangesvrdevelopmen

[2016-09-23 18:51] #104 closed, assigned to nobody

[2016-09-23 18:52] peternied commented on #104
Thanks for letting us know about the resolution!

[2016-09-26 10:06] thekindJose commented on #105
Hi @peternied , thanks for the help, but I'm having some issues with this:
- Using the OneDriveSDKSample, in ItemFragment.java, I'm creating the link as follows:

[code]
- I'm selecting a file from my SharePoint and output from code above is the following:

[code]
- But still the file cannot be downloaded if I perform the steps I mentioned you in previous comment: grab new link, send it via email

[2016-09-28 15:53] sw-dev1 commented on #100
Thank you for this clarification. Of course, this can be closed. Sorry for the hassle.

[2016-09-28 16:37] jinsankim opened #106 "The synchronous post request for copying returned before the file is actually copied."
Hi,

I wrote the below code for copying a file using synchronous post request.

`
final ItemReference parentReference = new ItemReference();
parentReference.path = getOneDrivePath(dst.getParentPath());

mClient.get().getDrive()
                    .getItems(src.getFileId())
                    .getCopy(dst.getFileName(), parentReference)
                    .buildRequest()
                    .pos

[2016-09-28 17:18] peternied commented on #106
The result of the copy is not the copied item, but an asynchronous monitor that can be polled for when a copy action has completed.

See the detailed [copy documentation](https://github.com/OneDrive/onedrive-sdk-android/blob/master/docs/items.md#copy-an-item).  In the [OneDrive Explorer for Android](https://github.com/OneDrive/onedrive-explorer-android), there is also a [full example](https://gith

[2016-09-28 18:47] sw-dev1 commented on #49
@peternied About your suggestion above concerning the IAuthenticator: looking at its implementations like MSAAuthenticator, creating an implementation from scratch does not seem to be straightforward. Would subclassing MSAAuthenticator be a way of moving toward an Activity-independent client? Thanks.

[2016-09-29 13:23] jinsankim commented on #106
@peternied Thanks a lot. 👍

[2016-09-29 17:01] peternied commented on #106
I'm going to close out this question since you have got the answers you need, if not please reopen.  If you happen to have any other questions/comments open up a new issue.

[2016-09-29 17:01] #106 closed, assigned to nobody

[2016-09-30 05:58] wooseopkim commented on #102
Thanks a lot.

[2016-09-30 05:58] #102 closed, assigned to daboxu

[2016-09-30 10:54] blazern opened #107 "The SDK should use executeOnExecutor() method of AsyncTask"
Some versions of Android use a single thread for all AsyncTasks to run their onBackground(..) if the execution was started with a call of AsyncTask.execute().

A deadlock will happen if client code started an AsyncTask with AsyncTask.execute() and then performed silent login to OneDrive from AsyncTask's onBackground(..) - OneDrive SDK uses the AsyncTask.execute() method too.
OneDrive's AsyncTask w

[2016-10-03 04:28] isabsent opened #108 "OutOfMemory when uploading a huge file."
I am trying to upload media file with size of 141 MB to OneDrive by means of your [code snippet:](https://github.com/OneDrive/onedrive-sdk-android/blob/master/docs/items.md#upload-a-file)

[code]

(IOUtils is from org.apache.commons.io version 2.4) and get OOM error immediately:

[code]

How about a [promised wrapper](https://github.com/OneDrive/onedrive-sdk-android/issues/13#issuecomment-16103228

[2016-10-03 08:37] ginesguiropa commented on #105
I have the same problem. The docx, pptx, xlsx... documents can't be downloaded directly when i get the public link.

[2016-10-05 16:57] peternied commented on #105
@daboxu It looks like we need a solution for downloading from sharing links via ODB, can you provide instructions for that?

[2016-10-05 21:09] daboxu commented on #105
one possible approach is using our /shares API for ODB. The link "permission.link.webUrl" actually could be encode into a share key by:

[code]

after we got the **shareId**, you can compose a request to /shares API to get the content:

[code]

while this approache you need not only the link, but also a valid access token which I believe you will have if you already allow user grant it to you

[2016-10-05 21:28] daboxu commented on #107
hi @blazern , would you mind sharing the detail Android versions?

[2016-10-06 03:11] blazern commented on #107
@daboxu, the device had Android 6.0.1

[2016-10-06 21:15] daboxu commented on #107
thanks @blazern , I modified our onedrive-explorer-android https://github.com/OneDrive/onedrive-explorer-android for reproducing it, what I did is pretty simple in PlaceholderFragment.java https://github.com/OneDrive/onedrive-explorer-android/blob/master/app/src/main/java/com/microsoft/onedrive/apiexplorer/PlaceholderFragment.java#L77:

[code]

WIth emulator version 6.0 and I cannot reproduce the

[2016-10-11 13:05] FaustoMoon commented on #108
Hi all, I've experienced the same issue.
Is it possible to implement any workaround?
In your opinion (and experience) Is it possible to implement in android an "upload session" for huge file, can anyone post an example?

Thanks in advance!

[2016-10-17 17:19] daboxu commented on #105
hi @thekindJose @ginesguirpa, have you found the way for the problem?

[2016-10-19 17:37] sw-dev1 commented on #49
@peternied I tried subclassing MSAAuthenticator and stumbled onto the problem that the sharedPreferences are retrieved through an activity handle. The method using this handle is private, i.e. not possible to override and change to something without an activity.
The functionality for signing in and everything that needs user interaction is still needed, so somehow I need to keep the MSAAuthenticat

[2016-10-19 17:50] peternied commented on #49
Thanks for looking into this @sw-dev1 that is a challenge.  It sounds like it might also be possible to make the MSAAuthenticator more extensible for these purposes and I would be happy to review a pull request.

Would it be possible for you to duplicate and modify the MSAAuthenticator class for your purposes instead of sub-classing it within your project?  This would allow you to modify the refer

[2016-10-20 07:08] thekindJose commented on #105
Hi @daboxu. No, I haven't found how to do what I need.
Not sure if I have understood you properly, but with your proposal users who receive shared link will need to use the Microsoft API and have a valid token. Please correct me if I'm wrong.
If you read whole post, what I actually need is to generate a link for a file, which can be shared to a user via email (for instance) and user can download t

[2016-10-20 08:25] sw-dev1 commented on #49
Good thought @peternied, I had just started with duplicating MSAAuhenticator. Next was a need to modify MSAAccountInfo to accept the new class in its constructor. The LiveAuthClient can be constructed with a Context, so it should be possible to pass an Application context for our purpose. Now the next challenge: the IAuthenticator needs to take an Application context in the init(). We need this in

[2016-10-20 16:16] peternied commented on #49
Could you call `init` from an activity, and then use activity.getApplicationContext() to provide the backing context you would need instead of the activity context in your version of MSAAuthenticator?

[2016-10-20 21:01] sw-dev1 commented on #49
Sure, but if the app is a service only, after a time it would fall back to asking the user to open the activity because this is the only way to rebuild the client.  In my tests (an activity and a service) all goes well until at some point in time the service wants to use the OneDriveClient through a handle in the application and it is null. Not always, mostly it is available for about an hour or s

[2016-10-20 21:16] peternied commented on #49
Hmm, that hour window sounds like its associated with the timeout on the access token which is also an hour.  Are you using the `offline_access` scope so you can silently re-authenticate?

RE: Null OneDriveClient, the client is not 'nullifed', it should be usable within a service context provided you have the plumbing in place for interactive login.  Sounds like something wrong with the applicatio

[2016-10-20 21:21] sw-dev1 commented on #49
Yes, I am using the  offline_access  scope. The application lifecycle is certainly the reason why the client gets null (thanks for the hint). This is determined by the design of Android. If an application holds an activity and a service, if both are inactive, the application will be eventually also killed with the process that holds it. If the service is bound, it will be reactivated later by the

[2016-10-21 21:53] daboxu commented on #105
hi @thekindJose , sorry misunderstood your scenario. Unfortunately right now we don't support downloading office documents via a sharing link but thanks for the suggestion and it indeed is a good feature. Please go to http://onedrive.uservoice.com/ to post it so that other can vote on it as well.

[2016-10-24 16:57] #105 closed, assigned to daboxu

[2016-11-01 04:26] isabsent opened #109 "Bug in the authentication for API < 18."
I am trying to use OneDrive SDK with API 16 device by means of:

    compile ('com.onedrive.sdk:onedrive-sdk-android:1.3.0') {transitive = false}
    compile ('com.google.code.gson:gson:2.3.1')
    compile ('com.microsoft.services.msa:msa-auth:0.8.6')
    compile ('com.microsoft.aad:adal:1.1.19')

As a result I have

    E/Trace: error opening trace file: Permission denied (13)
    E/dalvikvm: Cou

[2016-11-01 06:03] isabsent opened #110 "MSA autentification screen."
To avoid a bug in the authentication for API < 18 (#109), ADAL authentication was turned off and [MSA authentication dialog](https://cloud.githubusercontent.com/assets/4918293/19880843/3d325160-a033-11e6-9666-6233b4d4c607.png) appears. It is little bit messy - not centered and has transparent areas that leads to partial background activity visibility. Is it possible to fix this mistakes?

P.S. Thi

[2016-11-02 21:26] sw-dev1 commented on #49
Just to let you know, I have now a working silent login implementation in the app Bookmarks for OneDrive.

[2016-11-16 00:12] iambmelt commented on #108
@isabsent @FaustoMoon Sorry to see that nobody has gotten back to you yet regarding these questions. There's some documentation regarding the limitations of this endpoint that's worth calling out here: mainly, that it supports payloads up to 4MB in size.

From [graph.microsoft.io](https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_uploadcontent)

I'm not aware of any support for lar

[2016-11-17 20:21] daboxu commented on #108
hey guys, sorry for late reply, here is a PR for supporting large file upload: https://github.com/OneDrive/onedrive-sdk-android/pull/111

[2016-11-18 07:42] isabsent commented on #108
Thanks a lot! Would you be so kind to provide code snippets for your chunked upload in synchronous and asynchronous cases?

[2016-11-21 07:12] FaustoMoon commented on #108
Nice news, thanks!

[2016-11-21 16:57] daboxu commented on #108
@isabsent here you go, I only applied callback pattern with synchronous case, curious how to apply async one? The operation is tightly combined with File IO and network so haven't found a good way to snitch into async way in the code. Any good ideas? The code I tested so far looks like:

[code]

[2016-11-22 00:59] daboxu commented on #108
@isabsent @FaustoMoon it should be out with version 1.3.1, feel free to try it out and let me know if you have any questions.

[2016-11-22 04:20] isabsent commented on #108
Thanks a lot! I will try right now.

[2016-11-22 05:00] isabsent commented on #108
There is

    .getItemWithPath(<"Path to file">)
in your code. Is it really necessary? It seems very restrictive condition if you want to upload file that does not exist as a real file on the device file system. In this case it exists as a stream of bytes only - for example, uploading file from other cloud to OneDrive cloud or uploading file from encrypted container on the device file system. Is i

[2016-11-22 07:03] Mdany opened #113 "InstantRun fails with class signature mismatch"
Same exception.I workaround and can't use instant run.
Maybe you need to track the problem
😊

https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/724

[2016-11-22 13:55] isabsent commented on #108
Works fine. I have used synchronous variant with Android IntentService. Does

    public void progress(long current, long max)
fire after each 4 MB uploaded? If so, it seems too much because progress bar looks very intermittent . Other clouds use smaller portion.

By the way, is there an option to interrupt the upload?

[2016-11-22 17:05] daboxu commented on #108
@isabsent we do provide the the customization on the chunk you want to upload:
https://github.com/OneDrive/onedrive-sdk-android/blob/master/onedrivesdk/src/main/java/com/onedrive/sdk/concurrency/ChunkedUploadProvider.java#L140

so you can invoke like:

[code]

and due to service requirement, the number should be a multiple of 320KB.

[2016-11-22 17:18] daboxu commented on #113
thanks!

[2016-11-22 18:12] daboxu commented on #110
what screen size & solution for your emulator? I used nexus 4 (7'' 768x1280 xhdpi) as my emulator seems work for me, curious it could happened for smaller screen.
![capture screen](https://cloud.githubusercontent.com/assets/3971919/20536004/213ca6e4-b09c-11e6-9874-a29c29f020f3.PNG)

[2016-11-22 18:18] daboxu commented on #109
yup, I think I need to bump the minimum version to 18 as ADAL does not support lower version anymore. Will this impact your story hugely? I saw stat on Android website and it seems it would not be very harmful: https://developer.android.com/about/dashboards/index.html

[2016-11-22 23:34] cmakthat opened #114 "Account ID"
Does the OneDrive Android SDK have an equivalent to the "Account ID" found in iOS and Windows 10 SDKs? These aren't the actual emails of the users but a unique identifier returned after OAuth occurs according to the documentation:

Values for access_token, authentication_token, and user_id are truncated in the previous example.

Using the endpoint "https://apis.live.net/v5.0/me?access_token=" give

[2016-11-23 04:16] isabsent commented on #108
320 KB is good for smooth progress, thanks.  Is there an option to cancel the upload?

[2016-11-23 10:31] isabsent commented on #109
I have solved the problem by using

    DefaultClientConfig.createWithAuthenticator(msaAuthenticator)
itstead of

    DefaultClientConfig.createWithAuthenticators(msaAuthenticator, adalAuthenticator)
If I do not use adalAuthenticator I do not get "Secret key must be provided for API < 18" message for API >= 14 and this API level is enough for my purposes.

[2016-11-23 11:50] isabsent commented on #110
Nevermind! It was an x86 emulator with API 16 for Nexus 5x problem as I suppose.

[2016-11-23 16:56] daboxu commented on #108
do you mean cancel during uploading? or cancel if the result returned is an exception?

[2016-11-23 18:39] isabsent commented on #108
I mean cancel during uploading.

[2016-11-23 21:04] daboxu commented on #108
that's a good point, I will add it to backlog, probably a Cancelalbe Interface is needed.

[2016-11-23 21:07] daboxu commented on #110
cool

[2016-11-23 21:07] #110 closed, assigned to nobody

[2016-11-27 14:11] isabsent opened #115 "Can't login with MSA Authenticator on Lenovo Vibe Shot (Android 6.0.1)"
I have faced with a very strange situation on Lenovo Vibe Shot  Z90a40 (Android 6.0.1) device. When I try to login to OneDrive (not a Bussiness Cloud)  with

    SCOPES_ARRAY = new String[] {"onedrive.readwrite", "onedrive.appfolder", "wl.offline_access"};
it does not show me login screen - just a white screen without any content. In the logcat I see:

    I/LiveAuthClient: No refresh token availa

[2016-12-13 09:42] FaustoMoon commented on #108
hey guys, I've just tested the chunk upload and I find out an unexpected behaviour, after one hour of uploading I receive this message: Response code 401, Unauthorized

**hereafter the logcat in starting phase:**

`12-13 07:58:21.504 2652-8018/com.onedfau.apiexplorer D/AuthorizationInterceptor[intercept] - 71: Intercepting request, https://api.onedrive.com/up/....

12-13 07:58:21.505 2652-8018/com

[2016-12-14 22:25] mdobric opened #116 "Original exception ignored in DisambiguationAuthenticator failure callback"
The failure callback in DisambiguationAuthenticator.login(String), line 187, replaces the original exception with a new one. This is a problem when trying to figure out why disambiguation failed. Currently it's impossible to tell whether the user pressed the back button or if something else went wrong. Please pass along the original exception when constructing the new one.

[2016-12-15 16:31] IvanShafran commented on #115
@isabsent The same problem on Asus ZenPad 8 (Android 6.0.1) :(

[2016-12-17 03:44] isabsent commented on #115
@IvanShafran Can you paste the log of unsuccessful authorization here?

[2016-12-20 09:53] IvanShafran commented on #115
@isabsent

[code]

And my gradle:
[code]

[2016-12-26 15:44] blazern commented on #107
Sorry, but I left the place I worked for so the codebase in which I could reproduce the problem is no longer available to me. :(

[2017-01-03 17:16] daboxu commented on #107
Ok, I will close this issue for now and if anyone could reproduce it, feel free to reopen it.

[2017-01-03 17:16] #107 closed, assigned to daboxu

[2017-01-05 22:47] daboxu commented on #114
@cmakthat unfortunately the Android version doesn't support it yet as it relies on the OauthResponse in the package msa-auth package: https://github.com/OfficeDev/msa-auth-for-android/blob/master/src/main/java/com/microsoft/services/msa/OAuthSuccessfulResponse.java

[2017-01-05 23:52] daboxu commented on #115
@isabsent @IvanShafran hi have you tried with other 6.0.1 devices? I used Nexus 5 with Android 6.0.1 and could not reproduce it.

[2017-01-06 03:21] isabsent commented on #115
I have Lenovo Vibe Shot with Android 6.0.1 only and emulator. The problem is absent on the emulator and definetely the problem exists on Lenovo. I will try to find other device with 6.0.1. Do above logs have something useful for understanding of a problem?

[2017-01-06 18:50] daboxu commented on #115
@isabsent I searched on the internet for a while and it seems related to the chromium package is not included as other users reported the 'Rejecting re-init on previously-failed class' log in other packages:
https://github.com/realm/realm-java/issues/1990
http://stackoverflow.com/questions/32243791/unity-android-with-appcompat-rejecting-re-init-on-previously-failed-class-java-l

and specifically f

[2017-01-07 14:27] isabsent commented on #115
Is it possible to do not use webview in your Authenticator?

[2017-01-09 10:05] anishhegdeSE commented on #115
I got a similar issue on Samsung Galaxy S5. On tapping on Login, the screen would go blank. Looking at @daboxu 's answer I went ahead and updated the WebView on the device and voila! it worked.

[2017-01-09 16:41] daboxu commented on #115
@isabsent the webview is from the MSA Authenticator 'com.microsoft.services.msa:msa-auth:0.8.+' which we don't have plan right now to upgrade it. @anishhegdeSE glad to hear it works, could you mind sharing more info about your solution?

[2017-01-09 17:11] isabsent commented on #115
As I understand from @anishhegdeSE answer it is necessary to update preinstalled WebView from [Google Play](https://play.google.com/store/apps/details?id=com.google.android.webview). It works for Lenovo Vibe Shot too!

Is it possible to write a ticket to MSA Authenticator developers to check WebView version and ask user to update it if needed?

[2017-01-09 17:13] daboxu commented on #115
I see, I will close this issue for now as there is a solution for it. Feel free to reopen it if necessary.

[2017-01-09 17:13] #115 closed, assigned to nobody

[2017-01-09 17:35] isabsent commented on #115
Is it possible to write a ticket to MSA Authenticator developers to check WebView version and ask user to update it if needed?

[2017-01-09 18:32] daboxu commented on #115
@isabsent I would argue with including this check into the Authenticator package, as stated in the [Play Store](https://play.google.com/store/apps/details?id=com.google.android.webview)

if this logic could be done in your app that would make more sense for me, and I am not sure how many devices have been affected and we want the SDK for general use purpose.

[2017-01-10 15:43] alexeyvasilyev commented on #59
I completely agree. It is not clear why these permissions needed.

I use Dropbox SDK, Amazon Drive SDK, Google Drive SDK, and MS Live SDK (obsolete) as well, and none of them adds silently permissions in AndroidManifiest.xml. Why OneDrive SDK needs them?

You should put a warning on your home page regarding that.

This issue should be reopened and fixed. There is no reason for such dangerous permi

[2017-01-11 20:22] daboxu commented on #108
hi @FaustoMoon , did your uploading job exists for more than one hour? The oauth token is valid for 1 hour only so that's why you got unauthorized. Try with larger chunk size and you can see my example code above.

[2017-01-13 08:17] isabsent opened #117 "getNextPage() is always null for synchronous call."
I am making synchronous call (using get() without callback in the argument in a non-UI thread):

    Item loadedItem = oneDriveClient
        .getDrive()
        .getItems(item.id)
        .buildRequest()
        .expand(getExpansionOptions(service))
        .get();

    List<Item> currentPageList = loadedItem.children.getCurrentPage();
    int currentPageSize = currentPageList.size();
    boolean

[2017-01-17 16:17] alexeyvasilyev commented on #49
So is there any progress on this issue?

I have integrated Amazon Drive, Google Drive, Dropbox clouds. And all of them support silent login. Even obsolete MS Live SDK for Android didn't have this issue.

I want OneDrive to be used as a service and want to control when authentication dialog should be shown.

[2017-01-22 11:16] mvysny commented on #102
The README.md at the main page ( https://github.com/OneDrive/onedrive-sdk-android ) still uses the synchronous method as a primary example; this will simply freeze the application when an initial login is needed.

[2017-01-23 17:25] daboxu commented on #102
@mvysny thanks for notice, the doc is updated now!

[2017-02-03 17:52] isabsent opened #118 "Memory leak in MSAAuthentication."
It seems your [MSAAuthenticator caches the activity](https://github.com/OneDrive/onedrive-sdk-android/blob/c00dc12a4efe60ac9383719bcbb1ab239ee8245b/onedrivesdk/src/main/java/com/onedrive/sdk/authentication/MSAAuthenticator.java#L140) in which authenticator was created and does not release it after authentication process is finalized. It leads to memory leak (thanks to [Leak Canary](https://github.

[2017-02-11 19:06] jefftharris commented on #49
I too am looking to use the new OneDrive SDK for a sync service and need a way to create the client without an activity using a previous logged-in session.

[2017-02-13 16:39] daboxu commented on #49
hi @alexeyvasilyev @jefftharris, will the [Microsoft Graph SDK](https://github.com/microsoftgraph/msgraph-sdk-android#22-create-an-iauthenticationprovider-object) help you as you want to integrate OneDrive as a service in this case? You can implement the IAuthenticationProvider interface to have a customized oauth process.

[2017-02-18 18:31] jefftharris commented on #49
Implementing an entirely custom oauth process seems overkill.  Looking in OneDriveClient and MSAAuthenticator, there are opportunities to use a base Context which services have rather than an Activity.  MSAAuthenticator can use a Context to create its LiveAuthClient and then simply return a null account info from the login methods if its context is not an Activity. OneDriveClient already tries to

[2017-03-10 22:01] cormal commented on #49
We had the same problem and it would be nice to see a solution to as much. In the interim we ended  up using the ActivityLifecycleCallbacks to monitor the current activity and simply pass that to the loginandbuiltclient running on a background service. We then override the IAccountInfo login to return null to an exception which prevents the login screen opening and simply catch and deal with the l

[2017-03-11 07:20] AnoXDD opened #119 "Failed silent login, interactive login required"
It sounds like an old issue and I was spending the last several days trying to fix it but no.

# Error
The error was
[code]

And other information will be posted as a follow up.

# Tested on
I used both my Nexus 4 (5.1.1, API 22) and Nexus 6 (API 23) to run the same code on [onedrive-explorer-android](https://github.com/OneDrive/onedrive-explorer-android) and it gave me the same error saying that

[2017-03-11 07:21] AnoXDD commented on #119
Logcat of the entire session

[code]

[2017-03-18 19:14] AnoXDD commented on #119
Run clean and rebuild the project somehow fixed the issue.

[2017-03-18 19:14] #119 closed, assigned to nobody

[2017-04-10 16:57] thiagofacanha opened #120 "Exception: Upload session failed too many times(How can I remove scopes from my app?)"
Hi.
Im having a problem when uploading a file in Android using onedrive API.
The application was working normally but last week started to receive a failure with the exception informing that Upload session failed too many times for some accounts(Others are working without problem).
I did a test in one of these accounts removing the app permission in the OneDrive site and the application started to

[2017-04-11 17:49] thiagofacanha commented on #120
I notted something.
The accounts that arent working with the app have more permissions  than the ones that are working.
In the beginning of the app i used the previous version of OneDrive API( skydrive)
I tested putting the older scopes with the new ones
("wl.signin","wl.basic","wl.skydrive","wl.offline_access","wl.skydrive_update")
and now the same problem happens.
So probably my problem is with

[2017-04-25 17:04] AnilSony opened #121 "Profile information!"
Hi,

My name is Anil, I need to get Profile information like email, phone, etc.
It's possible?, I didn't see any API's supporting this, I got only Authentication type not the profile details. Please Help.

[2017-05-01 15:04] nicomazz opened #122 "Upload file from service, Activity always required"
I need to upload a file from a background service.
The problem is that to obtain a IOneDriveClient object I need to pass an Activity.
How should I do?
What I need is a "silent login" from a Service. If the user was not logged in, I don't need to display any login screen.

Thanks!

[2017-05-05 07:11] mvysny opened #123 "java.util.NoSuchElementException at java.util.Scanner.next(Scanner.java:968)"
Good day, I'm using `onedrive-sdk-android-1.2.2` and my app's Crashlytics is reporting the following stacktrace:
[code]
This looks very similar to #81 yet I can't say whether it's the same issue or not. I also do not have any information from the user regarding of whether there are any special characters in the file name or not. Thanks! :)

[2017-05-18 22:44] nicomazz commented on #122
Resolved by creating another MSAAuthenticator with small changes

[2017-05-18 22:44] #122 closed, assigned to nobody

[2017-06-28 22:04] fiasko131 opened #124 "How to switch between accounts ?"
I can not find a way to create multiple accounts and pass from one to the other. The code that i use to create one Account in my app:
[code]
But I can not renew the operation to create and register another account. How can I access the microsoft login page again?

[2017-07-17 17:02] daboxu commented on #124
probably you can try
[code]

to logout the current account you are using?

[2017-07-18 10:58] fiasko131 commented on #124
@daboxu If I do this I can get a new client but if I want to reconnect to the precedent I have to redo a login with the authorization. How do I reconnect with the the obtained driveId (or accestoken?) and save in a file for example, without going back through the process?
So as with the other providers of cloud I can have several sessions and pass an object from one to the other.
Thank you.

[2017-07-18 16:20] daboxu commented on #124
that's a little bit tricky, if an access token works for your case, you can get it from the authenticator.
[code]

The MSA Authenticator we provided for OneDriveSDK is not intended for handling multiple sessions of user due to the underlying LiveAuthClient. So probably you can implements your own IAuthenticator which delegate the auth login work to MSAAuthenticator while store the access tokens by

[2017-07-19 17:03] fiasko131 commented on #124
Yes i can get the acces tokens but i don't find the method to build a client with it... I don't understand why it 's so tricky to manage multiple session with this sdk. I will search with MSA Authenticator ...

[2017-08-08 12:28] mvysny opened #125 "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.contains(java.lang.CharSequence)' on a null object reference"
In the SDK v 1.2.2, I have one report of the following bug which I fail to reproduce:

[code]

[2017-08-10 04:23] isabsent commented on #117
Hi, guys! Did you check this issue!? It make impossible to list files in a huge folder!

[2017-08-10 04:32] isabsent opened #126 "Are deleted files listed when I call getItems(folderId) for the folder?"
If yes, what is a way to separate deleted files from not deleted? I have found field "deleted" in Item class but can't find any description of it.

[2017-09-05 11:00] nikz-dev opened #127 "How to cancel file uploading"
I can not find a way to cancel file uploading. The code that i use to upload file is:
[code]

but don't know how to cancel file uploading. I just want that when user clicks on cancel button, file uploading should also be canceled.

[2017-09-06 06:27] nikz-dev commented on #121
I also need email that is used for login but don't see any API. [LiveSdk](https://github.com/liveservices/LiveSDK-for-Android) provide info using
[code]

But unable to find similar type of API in [this](https://github.com/OneDrive/onedrive-sdk-android) sdk.

[2017-09-07 05:01] nikz-dev commented on #121
Find a way to get username, may be helpful
[code]

[2017-09-22 04:09] nikz-dev opened #128 "com.onedrive.sdk.core.ClientException:"
com.onedrive.sdk.core.ClientException:
  at com.onedrive.sdk.http.DefaultHttpProvider.sendRequestInternal (DefaultHttpProvider.java:323)
  at com.onedrive.sdk.http.DefaultHttpProvider.send (DefaultHttpProvider.java:184)
  at com.onedrive.sdk.http.DefaultHttpProvider.send (DefaultHttpProvider.java:165)
  at com.onedrive.sdk.http.BaseRequest.send (BaseRequest.java:209)
  at com.onedrive.sdk.generate

[2017-09-22 04:13] nikz-dev opened #129 "com.onedrive.sdk.core.ClientException: Error during http request"
com.onedrive.sdk.core.ClientException: Error during http request
	at com.onedrive.sdk.http.DefaultHttpProvider.sendRequestInternal(DefaultHttpProvider.java:323)
	at com.onedrive.sdk.http.DefaultHttpProvider.send(DefaultHttpProvider.java:184)
	at com.onedrive.sdk.http.DefaultHttpProvider.send(DefaultHttpProvider.java:165)
	at com.onedrive.sdk.http.BaseRequest.send(BaseRequest.java:209)
	at com.oned

[2017-10-19 10:09] EmmaZhang11 opened #130 "When there're lots of files under one folder, getNextPage() always returns non-null"
There's 200 files under one folder (no sub folder), they're retrieved by iteratoring  items in page.getCurrentPage(), but getNextPage() always return a non-null object, which makes process can't stop. Please solve this issue.
                                }

[2017-11-27 11:14] PiYun01 opened #132 "- 314: Failed silent login, interactive login required"
- 314: Failed silent login, interactive login required
                                                                                               com.onedrive.sdk.authentication.ClientAuthenticatorException: Failed silent login, interactive login required
                                                                                                   at com.onedrive.sdk.authentication.MSAAut

[2017-11-27 11:46] rupbhangale commented on #49
Hi,
We are trying to integrate opendrive sdk in android application, but stuck at authentication part.
Facing the same issue i.e "Failed silent login, interactive login required" at the time of authentication.

Followed the exact steps for authentication given in  this document.
Client id used :: 00000000-0000-0000-0000-000000000000 format.

[2017-11-27 17:39] daboxu commented on #49
hi @rupbhangale please register your application on https://apps.dev.microsoft.com/ to have your own app ID. Tutorial of register your app is here: https://github.com/OneDrive/onedrive-sdk-android#2-getting-started

[2017-12-28 18:54] opaquewarellc opened #133 "close"

[2017-12-28 20:20] #133 closed, assigned to nobody

[2018-01-12 19:11] opaquewarellc opened #134 "No None Async option for loginAndBuildClient()"
There is a PRIVATE None-Async loginAndBuildClient() in the OneDriveClient.java.
Is there a reason why it can't be a Public function?

[2018-01-12 19:51] opaquewarellc opened #135 "Some functions required passing in an Activity as context."
I am trying use this in a JobService which isn't an Activity. A service context can not be cast to an Activity.
Why can't it use the more generic "Context" instead of "Activity".
(e.g. loginAndBuildClient(final **Activity activity**, final ICallback<IOneDriveClient> callback) )

[2018-03-05 06:22] msureshmewara opened #136 "Data Encoding/encryption processing"
Dear ,

Thank you for your support.

I just want to know that this library using any Data Encoding/encryption processing, if yes could you please give some information about it, if possible.

Thanks in advance.

[2018-04-05 05:12] Shouheng88 opened #137 "final Option option = new QueryOption("@name.conflictBehavior", "fail");"
What does `final Option option = new QueryOption("@name.conflictBehavior", "fail"); ` mean?
Will be failed if the name is conflict? Are there any other available options?

[2018-04-06 02:58] Shouheng88 commented on #137
What value should I use if I want to replace the file with the same name?

[2018-04-06 03:40] Shouheng88 commented on #137
I got the available values from error message.

[2018-04-06 03:40] #137 closed, assigned to nobody

[2018-04-19 12:26] SamJonson opened #138 "Authentication failed"
Dear ,

I can get the `OneDriveClient `succeed by the `loginAndBuildClient `method , then can get the right `accessToken`, just as below:
[code]

but it always wrong when i called the below api
[code]
the same error just as below:
[code]
the configuration of **scope** in code:
[code]
I'm not sure whether I configuration problem, Looking forward to your reply, thanks !

[2018-05-21 08:26] SamJonson commented on #138
The problem has been solved by reset the `EXTRA_SCOPES` value， just as below:

[code]

[2018-05-21 08:26] #138 closed, assigned to nobody

[2018-06-03 19:43] fiasko131 opened #139 "How to find file by name?"
Hello,
I can not find a method to perform a query file search in your SDK.
Thank you

[2018-06-11 21:21] TerZer opened #140 "Android OneDrive No virtual method acquireToken"
On OneDrive API client creation it gives me this error:
[code]
One Drive class looks like this:
[code]

[code]
I went trought internet to find the solution for this, but I didn't found it.. Sorry for bad English, not native language.

[2018-06-15 04:16] mcsong opened #141 "How to fetch next page with searchRequest?"
Hello,
I can't find how to fetch next page with searhRequest?

I did call first like this.

mDriveSearchCollectionPage = mGraphServiceClient.getMe().getDrive()
						//.buildRequest(searchOptions).expand("thumbnails").get();
						.getSearch(queryValue).buildRequest()
						.select("id, folder, file, name, size, lastModifiedDateTime, createdDateTime, webUrl")
						.expand("thumbnails")
						.top

[2018-06-23 17:22] huntext17 commented on #124
hi, were you able to get it working or find a workaround for this?

[2018-06-25 12:13] fiasko131 commented on #124
@huntext17
No, and i don't understand why this basic feature is not supported!

[2018-06-27 05:49] zeeshanjaved opened #142 "How to create oneDriveClient object?, it showing incompatible type, required com.onedrive.sdk.extensions.IOneDriveClient Found: void"
final MSAAuthenticator msaAuthenticator = new MSAAuthenticator() {
        @Override
        public String getClientId() {
            return "<msa-client-id>";
        }
        @Override
        public String[] getScopes() {
            return new String[] { "onedrive.appfolder" };
        }
    };
    final ADALAuthenticator adalAuthenticator = new ADALAuthenticator() {
        @Override

[2018-06-27 05:51] zeeshanjaved commented on #142
I am having trouble while creating IOneDriveClient object. please help me!
final IOneDriveClient oneDriveClient = new OneDriveClient.Builder()
        .fromConfig(oneDriveConfig)
        .loginAndBuildClient(getActivity(), callback);

[2018-07-23 22:07] ajpeacock0 opened #143 "**Get a OneDriveClient object** sample code is outdated"
The sample code under the [Get a OneDriveClient object](https://github.com/OneDrive/onedrive-sdk-android#23-get-a-onedriveclient-object) section has the following
[code]
The `OneDriveClient.Builder.loginAndBuildClient` function is now async, returning the `IOneDriveClient` in the given `DefaultCallback`. The sample code still expects a `IOneDriveClient` value returned from `loginAndBuildClient` ho

[2018-09-11 09:46] hollaus commented on #143
I agree with  @ajpeacock0, the sample is outdated. I simply replaced DefaultCallback with ICallback:

[code]

[2018-12-10 14:15] BenjaminPiette commented on #49
Just cloned the whole OneDriveClient class to be able to customize it and get more flexibility regarding connection status / silent login.

[2019-01-05 12:26] Azar56 opened #144 "No more than 200 Items are downloaded"
As getNextPage() always returns null no more than 200 Items can be downloaded.
This is a serious limitation which makes this library unsuitable for my purposes.

In a downloaded version of this project I included the missing code in the module BaseItem.
However this module is flagged "This file is generated by a tool and any changes will be overwritten".
So my solution does not have a general char

[2019-01-11 19:36] NLLAPPS opened #145 "Abondaoned? Any plans to switch to msa-auth-for-android"
Hi, is this SDK abandoned?

It took me couple of days to find proper information about all MS projects related to Android and get a picture of it.

From what I understand  [https://github.com/OfficeDev/msa-auth-for-android
](https://github.com/OfficeDev/msa-auth-for-android) and [https://github.com/microsoftgraph/msgraph-sdk-android-msa-auth-for-android-adapter](https://github.com/microsoftgraph/m

[2019-01-13 17:02] bubbleguuum commented on #145
I asked myself the same question a few days ago when dealing with the old LiveSDK API that is now entirely retired. This SDK works fine and I went with it because it seemed a bit more simple than the more general MS graph android SDK. Although this SDK seems largely unmaintained.

Also see:
https://github.com/microsoftgraph/msgraph-sdk-android/issues/94

[2019-01-13 17:54] NLLAPPS commented on #145
Live SDK actually lives in msa. Have look it is exactly same code made synchronous by locks and api end points and json objects of new graph implemented.

Too much legacy code. It is unbelievable that a multi billion dollar company cannot assigne few engineer ls to keep this updated

On January 13, 2019 5:02:17 PM UTC, bubbleguuum <notifications@github.com> wrote:

I asked myself the same question

[2019-01-29 03:00] AlexMofer opened #146 "java.lang.IncompatibleClassChangeError"
[code]

***触发条件：***
**targetSdkVersion 28**
**api 28**
**在完成登录的最后一步时报出。**

***初步猜测原因：***
**使用在API 22上就已经Deprecated的SSLSocketFactory，在程序设置targetSdkVersion 28时，在api 28(Android 9)必然触发。**

适配API 28是必然，期望早日解决。非常感谢！

[2019-01-29 03:13] AlexMofer commented on #146
***使用版本：***
[code]

[2019-02-16 07:08] AlexMofer commented on #146
在AndroidManifest的application标签下增加：
[code]
可解决该问题。但这并非最佳方案。
貌似该sdk已被废弃不维护了，官方主推他们的新的[Graph SDK](https://github.com/microsoftgraph/msgraph-sdk-android)。
但他们的Graph库需配合他们的账户授权库，而账户授权库2.x版本又跟Google Play services存在冲突问题，且其最低API尽然要去到21。这又是另外的坑了。

[2019-02-20 09:04] sam-devstudio opened #147 "Logout issue with new Async Object of IOneDriveClient"
Logout issue with new Async Object of IOneDriveClient. User have to first login to get the IOneDriveClient object and if user is not already logged in of have revoked access from web then before logout we have to enter credentials on Sign in screen or give permissions again. That's really embarassing that before logout we show login screen. Thanks

[2019-02-22 10:24] Azar56 commented on #145
For me there was no doubt that I will use this sdk only

1) if I get the sources
2) I am able to generate it locally
3) I am able to maintain it myself.

After a week's effort I have achieved this goals mostly. I really hope there are no more errors.

However, I am not fully satisfied with the current situation. My experience in handling this sdk has not become part of the community. I would have

[2019-03-11 16:50] ChrisIWUK opened #148 "ERROR: Could not find method repository() for arguments"
When I add the dependencies in step 1 I get an error message: ERROR: Could not find method repository() for arguments [build_xqhe0znpcz2uhmxa019kwrtr$_run_closure2@18623fec] on project ':app' of type org.gradle.api.Project.

Have I done something wrong in my build.gradle file or is it a bug?

apply plugin: 'com.android.application'

android {
    compileSdkVersion 28
    defaultConfig {
        ap

[2019-03-15 12:35] sam-devstudio opened #149 "App crashes when we select OneDrive Business after username"
When we try to select one Drive Business on an simple account we get a crash with following exception
E/DisambiguationAuthenticator$2[failure] - 190: Unable to disambiguate account type
com.onedrive.sdk.authentication.ClientAuthenticatorException: Unable to disambiguate account type
at com.onedrive.sdk.authentication.DisambiguationAuthenticator$2.failure(DisambiguationAuthenticator.java:187)
at co

[2019-03-15 12:38] saqibmirza2007 commented on #149
When we try to select one Drive Business on an simple account we get a crash with following exception
E/DisambiguationAuthenticator$2[failure] - 190: Unable to disambiguate account type
    com.onedrive.sdk.authentication.ClientAuthenticatorException: Unable to disambiguate account type
        at com.onedrive.sdk.authentication.DisambiguationAuthenticator$2.failure(DisambiguationAuthenticator.jav

[2019-03-19 10:18] sam-devstudio commented on #149
Anyone from Microsoft or someone else can look into this and help ?

[2019-05-07 04:58] mvysny opened #150 "OneCloud fails on Android 9 with NoClassDefFoundError: Failed resolution of: Lorg/apache/http/impl/client/DefaultHttpClient"
com.onedrive.sdk:onedrive-sdk-android:1.2.2

[code]

[2019-05-12 14:09] KrawczykPawel commented on #150
I have the same issue, please try to use this:

To continue using the Apache HTTP client, apps that target Android 9 and above can add the following to their AndroidManifest.xml:
<uses-library android:name="org.apache.http.legacy" android:required="false"/>

More details
https://developer.android.com/about/versions/pie/android-9.0-changes-28#apache-p

[2019-05-12 16:30] mvysny commented on #150
Thank you, that's exactly what I added to the manifest XML in the newest photocloud version (already present in Google play), so hopefully this bug should be fixed now.

[2019-05-25 07:11] Kumar321 opened #151 "Issue while uploading the image."
Hi Am getting this error. Please check this:

320: OneDrive Service exception Error code: invalidRequest
    Error message: ObjectHandle is Invalid

    POST https://api.onedrive.com/v1.0/drive/items/Documents%3A/Scan%2021-05-2019_4.jpg_3.jpg_1.jpg%3A/action.createUploadSession
    X-RequestStats : SDK-Version=Android-v1.3.1
    Authorization : bearer EwAYA61DBAAUcSSzoTJJsy+XrnQXgAKO5cj4yc8AAZXWru

[2019-08-21 23:35] sgong-pdftron opened #152 "Use of deprecated Discovery Service API"
This project still uses the deprecated Discovery Service API, for example:
https://github.com/OneDrive/onedrive-sdk-android/blob/1af2f0e788b180e91c6b0d4c52d87d4e11c07334/onedrivesdk/src/main/java/com/onedrive/sdk/authentication/ADALAuthenticator.java

It is announced in August 12, 2019 that this API is deprecated.

Is there any plan to update this project to use new Graph API?

Thanks.

[2019-08-22 11:28] sumurthy commented on #152
The discovery API is being deprecated. Please upgrade the SDK or mark as not supported.

Refer here for details: https://developer.microsoft.com/en-us/office/blogs/upcoming-deprecation-of-discovery-service-api/

[2019-08-23 17:45] sgong-pdftron commented on #152
@sumurthy Hi, could you elaborate on upgrade to which SDK? Is there a new version of OneDrive SDK for Android available?

[2019-09-25 20:26] relyt29 commented on #152
+1 This SDK now fails to authenticate, as far as I can tell

[code]

[2019-09-26 09:28] keeblebogdan commented on #152
Does anybody here have a solution for this issue?

[2019-09-26 18:55] relyt29 commented on #152
I used https://github.com/Azure-Samples/ms-identity-android-native and the graph drive REST API with android's volley library to get access to the data I was looking for.

MS folks should mark in the ReadMe of this project that it is abandoned and deprecated, IMO.

[2019-11-21 16:16] alexmaizerov opened #153 "How can i get authenticationToken from server use this SDK?"
I need authenticationToken for server side of mi application, to provide saving files by other users.
I red whole documentation about rest API, and I fount that there are 2 ways :
1. response_type=code
2. response_type=token

Use android debugger I saw your login query, your query used responce_type=code, not token.
But server side return token and refresh token to me, and authToken == null every

[2019-11-28 08:44] ZhuLeon opened #154 "Migrate to AndroidX"
1. Is there a plan for migration to AndroidX?
2. Please support [MSAL-Auth](https://github.com/AzureAD/microsoft-authentication-library-for-android)

[2019-11-29 09:03] #154 closed, assigned to nobody

[2020-01-14 23:12] EmmanuelMess commented on #140
Check your dependency versions to coincide with these ones:

https://github.com/OneDrive/onedrive-sdk-android/blob/1af2f0e788b180e91c6b0d4c52d87d4e11c07334/onedrivesdk/build.gradle#L63-L73

[2020-02-05 17:35] bubbleguuum commented on #152
It should be clearly stated in the top README that ADALAuthenticator cannot be used anymore with this library. MSAAuthenticator is fine.

Microsoft Android libraries are made of pile and pile of obsolete deprecated code and samples. It's really hard to understand what is up to date and actually works...

[2020-05-15 02:57] vabhatia opened #155 "How to enforce Enterprise using the One Drive SDK on Android"
I have integrated One Drive SDK into my Android app and have an enterprise scenario where only enterprise accounts types should be allowed to login. Is it possible to restrict sign in based on account type/domain ?

[2020-05-26 07:26] KevinCWKevin commented on #108
Hi @daboxu,
    I follow your sample code, used "createUploadProvider" to upload large files. But the fileSize is limited to 2GB because the type of variable is Integer. Could you please provide a way to upload file with over 2GB?

[2020-06-01 03:34] KevinCWKevin opened #156 "File size is limited to 2GB."
Hi,
    I follow your sample code, used "createUploadProvider" to upload large files. But the variable of fileSize is limited to 2GB because the type of variable is Integer. Could you please provide a way to upload file with over 2GB?

Thanks

[2020-06-01 06:02] cool7203 opened #157 "remove the dependency for apache httpclient"

[2020-06-01 11:46] #157 closed, assigned to nobody

[2020-07-01 12:46] cool7203 opened #158 "sharedWithMe not found"
How can i list up shared folders/files with?

I tried to request the url such as "https://api.onedrive.com/v1.0/drive/sharedWithMe".

But the response is "Api Not Found" or "Invalid Request or Resource".

I can not find concerning documents about it.

[2020-09-12 10:33] David-Llop opened #159 "Error when creating OneDriveClient"
When I try to create a client in order to work with OneDrive from an app, the IDE doesn't recognise ``DefaultCallback``  as a Class or Interface. I've tried changing it to ``ICallback``, but then I get:

when creating the OneDriveClient.

Have I to import any extra library?

[2020-09-17 08:14] panovvitalik opened #160 "Error when try to auth"
I have created my app under "portal.azure.com"
I have added a platform android to it. The portal is generated Uri for me like:  "msauth://my_package_name....
Then I try to login using this lib and after I inputted e-mail address I got following error page:

"We're unable to complete your request
invalid_request: The provided value for the input parameter 'redirect_uri' is not valid. The expected v

[2020-09-17 08:15] panovvitalik commented on #159
@David-Llop Just replace example login code with this:
OneDriveClient.Builder oneDriveClientBuilder = new OneDriveClient.Builder().fromConfig(oneDriveConfig);
oneDriveClientBuilder.loginAndBuildClient(activity, callback);

[2020-09-17 17:39] David-Llop commented on #159
@panovvitalik Thanks, I've just tried and works great

[2020-09-17 17:40] #159 closed, assigned to nobody

[2020-09-19 06:27] panovvitalik opened #161 "Is project alive?"

[2020-10-10 17:56] justforlxz commented on #161
It seems that Microsoft has unified all APIs, you can view this project [https://github.com/Azure-Samples/ms-identity-android-kotlin](https://github.com/Azure-Samples/ms-identity-android-kotlin)

[2020-10-11 03:59] panovvitalik commented on #161
@justforlxz
I don't need unified apis, I need Onedrive api - uploading/downloadig files, creating directories and etc.
I saw your lib early, and it contains only some "login" functionality, that's all.

Do you know Onedrive api sdk lib?

[2020-10-12 01:17] justforlxz commented on #161
It’s the first time I have contact with onedrive’s api, I don’t understand, sorry.

[2020-12-16 10:41] arif10520 opened #162 "Error in example code (doc section 2.3)"
Example is
final IOneDriveClient oneDriveClient = new OneDriveClient.Builder()
                                            .fromConfig(oneDriveConfig)
                                            .loginAndBuildClient(getActivity(), callback);

But loginAndBuildClient does not return any object. please remove (final IOneDriveClient oneDriveClient = ) from the example.

[2020-12-19 07:05] helgovic opened #163 "Signin and get client after initial signin"
I have used the code from the authorization doc to do the initial signin, and it works just fine, but now i want to make a silent signin, so that he user does not have to enter credentials every time. How do i go about doing that?.

[2021-05-19 08:41] MattDing31 opened #164 "loginAndBuildClient returns failure."
loginAndBuildClient runs well for years. But recently it would return a failure sometimes, which causes the whole screen to be covered by a white activity. I know  loginAndBuildClient has synchronous issue, so I always use callback version.

My code:
			final MSAAuthenticator msaAuthenticator = new MSAAuthenticator()
			{
				@Override
				public String getClientId() {
					return ONEDRIVE_CLIENT_

[2021-06-02 10:59] vishalkpal commented on #148
###  use this maybe it will work
`buildscript {
       repositories {
           jcenter()
       }
   }`

[2021-07-14 16:13] #10 closed, assigned to nobody

[2021-07-29 04:41] BhupeshDexati commented on #160
In Azure Portal, select your app and then go to Authentication page, Click on Add URI in Mobile and Desktop Application section and add "urn:ietf:wg:oauth:2.0:oob" as redirect URL and use the same in client app. This fixed the same issue for me, hope it would be helpful.

[2021-07-29 07:19] panovvitalik commented on #160
"Redirect URI" field is readonly in the azur portal.
When I try to input your value in the "Package name" field I recieve this error: "Less than 218 characters in length"

[2021-07-29 07:37] BhupeshDexati commented on #160
You are trying with on wrong card...
Click on Add URI and add underlined code

![Annotation 2021-07-29 130444](https://user-images.githubusercontent.com/73809327/127451015-41549c8d-b064-48d9-a404-2ee729afcf51.png)

[2021-07-30 04:24] BhupeshDexati commented on #139
Did you find solution for searching file ?

[2021-08-05 11:20] BhupeshDexati opened #165 "Refresh token doesn't expires on revoking app permission"
In my app, I want to give user capability to revoke access from app only, since revoking access can only be done manually according to [this doc](https://docs.microsoft.com/hi-in/onedrive/developer/rest-api/getting-started/graph-oauth?view=odsp-graph-online#revoking-access)  , so I am opening that page for user in a separate activity with Webview inside the app.
Now on coming back from that page a

[2021-09-14 09:20] chenxi1991 opened #166 "Could Anyone please tell me how to enable login with a business Account?"
When I login with a Microsoft account,eventhing works fine.But with a business account,I can not login in.
![微信图片_20210914171806](https://user-images.githubusercontent.com/13568754/133231204-0e94b4ce-48b7-4187-af4d-c9c81f2a1bfc.jpg)

[2022-03-04 02:54] josephnarai commented on #143
Thank you @hollaus lifesaver... thought I was going crazy - someone should really update the examples!

[2022-03-15 21:03] isabsent opened #167 "Problem with OneDrive SDK for Android SDK 31+"
I am using your `com.onedrive.sdk:onedrive-sdk-android:1.3.1` to access OneDrive cloud from my Android application. All is OK if `targetSdkVersion 30` or less. For `targetSdkVersion 31` and more I have this error:

    Installation did not succeed.
    The application could not be installed: INSTALL_PARSE_FAILED_MANIFEST_MALFORMED

    List of apks:
    [0] '/home/lev/StudioProjects/explorer/app/b

[2022-09-15 02:44] alexplanetart opened #168 "Unsafe Cipher Mode reported by GooglePlay"
@peternied pe @phhusson @SandroMachado @cypressious @rgregg
I used the this SDK（version 1.3.1） in my project  and Google detected some error messages. Is there any update for this problem?  https://support.google.com/faqs/answer/10046138
![image](https://user-images.githubusercontent.com/93108740/190302966-8df5afee-fc5d-4c4a-9370-40f21f996ef5.png)

[2022-09-15 02:57] Pingapplepie commented on #168
Too many apps use this library to access one drive and encountered the same issue, hope we can get an update from here.

[2022-09-15 15:35] peternied commented on #168
Looks like the ADAL dependent should be updated, see more recent versions from https://mvnrepository.com/artifact/com.microsoft.aad/adal

Someone could make a pull request to rev the version to use newer version, @alexplanetart how do you feel about taking this on?

[2022-09-15 16:14] cypressious commented on #168
Please don't mention random people in issues.

[2022-09-19 06:00] ArashM98 commented on #143
so what happen to the rest of sample ?  * get root folder
how to get oneDriveClient object to call it's method?

oneDriveClient
    .getDrive()
    .getRoot()
    .buildRequest()
    .get(new ICallback<Item>() {
  @Override
  public void success(final Item result) {
    final String msg = "Found Root " + result.id;
    Toast.makeText(getActivity(), msg, Toast.LENGTH_SHORT)
        .show();
  }
  .